* {
    box-sizing: border-box;
}

.removeTopSpacing {
    margin-top: 0px !important;
}

.separator {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: 20px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
}

.stretch {
    width: 100%;
}

.smallSize {
    width: 100px;
}

.mediumSize {
    width: 200px;
}

.largeSize {
    width: 300px;
}

.text {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.text.small {
    font-size: 12px;
}

.text.defaultSize {
    font-size: 15px;
}

.text.medium {
    font-size: 20px;
}

.text.large {
    font-size: 24px;
}

.text.extraLarge {
    font-size: 30px;
}

.text.lighter {
    font-weight: 200;
}

.text.defaultWeight {
    font-weight: 400;
}

.text.bolder {
    font-weight: 600;
}

.text.defaultColor {
    color: rgb(51, 51, 51);
}

.text.defaultColor.subtle {
    color: rgba(51, 51, 51, 0.5);
}

.text.darkColor {
    color: rgb(51, 51, 51);
}

.text.darkColor.subtle {
    color: rgba(51, 51, 51, 0.5);
}

.text.lightColor {
    color: rgb(255, 255, 255);
}

.text.lightColor.subtle {
    color: rgba(255, 255, 255, 0.5);
}

.text.accentColor {
    color:  rgb(46, 137, 252);
}

.text.accentColor.subtle {
    color:  rgba(46, 137, 252, 0.5);
}

.text.goodColor {
    color: #2ccc35;
}

.text.warningColor {
    color: #f9a203;
}

.text.attentionColor {
    color: darkred;
}

.rootContainer {
    padding: 12px;
}

.container {
    margin: 15px 0px 0px 0px;
}

.container.selectable {
    padding: 5px;
}

.container.selectable:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.container.selectable:active {
    background-color: rgba(0, 0, 0, 0.15);
}

.container.startGroup {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding-top: 15px;
}

.image {
    margin: 5px 0px 0px 0px;
}

.image.selectable {
    cursor: pointer;
}

.image.autoSize {
    max-width: 100%;
}

.image.stretch {
    width: 100%;
}

.image.small {
    max-width: 40px;
}

.image.medium {
    max-width: 80px;
}

.image.large {
    max-width: 160px;
}

.image.person {
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

table.factGroup {
    margin: 10px 0px 0px 0px;
    border-width: 0px;
    border-spacing: 0px;
    border-style: none;
    border-collapse: collapse;
}

tr.factGroupRowSpacer {
    height: 10px;
}

td.factName {
    border-width: 0px;
    padding: 0px;
    border-style: none;
    min-width: 100px;
    vertical-align: top;
    white-space: nowrap;
    padding-top: 4px;
}

td.factValue {
    border-width: 0px;
    padding: 0px;
    border-style: none;
    vertical-align: top;
    padding: 4px 0px 0px 10px;
}

.imageGallery {
    margin: 20px 0px 0px 0px;
}

.actionGroup {
    margin: 10px 0px 0px 0px;
}

.columnGroup {
    margin: 20px 0px 0px 0px;
}

.column {
}

.column.selectable {
    padding: 5px;
}

.column.selectable:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.column.selectable:active {
    background-color: rgba(0, 0, 0, 0.15);
}

.defaultColumnSeparator {
    width: 10px;    
}

.strongColumnSeparator {
    border-left: 1px solid #EEEEEE;
    margin-left: 10px;
    padding-left: 10px;
}

.actionCardContainer {
    margin: 16px -20px 0px -20px;
    padding: 16px 20px 16px 20px;
    background-color: rgba(255, 255, 255, 0.1);
}

.buttonStrip {
    display: flex;
    overflow: hidden;
}

.buttonStripItem {
    flex: 0 1 100%;
    white-space: nowrap;
    overflow: hidden;
}

.buttonStripItemSpacer {
    margin-right: 5px;
}

.pushButton, .linkButton {
    font-family: 'Segoe UI', sans-serif;
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 2px solid transparent;
    padding: 4px 10px 5px 10px;
    text-align: center;
    vertical-align: middle;  
    cursor: default;
    background-color: #464646;
    color: white;    
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.pushButton:hover, .linkbutton:hover {
    border: 2px solid #A9A9A9;
}

.pushButton:active, .linkbutton:active {
    background-color: #828282;
}


/*
Other styles that can be specified:
    .pushButton.expanded
    .pushButton.expanded:hover
    .pushButton.expanded:active

    .pushButton.subdued
    .pushButton.subdued:hover
    .pushButton.subdued:active
*/


/*
Other styles that can be specified:
    .linkButton.expanded
    .linkButton.expanded:hover
    .linkButton.expanded:active
*/

.input {
    margin: 2px 0px 0px 0px;
}

.input.textInput {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    border: 2px solid #797979;
    padding: 4px 8px 4px 8px;
    background-color: #131313;
    color: white;
    height: 30px;
    resize: none;
}

.input.textInput.multiline {
    height: 72px;
}

.input.textInput:hover {
    border: 2px solid #A5A5A5;
    background-color: #0C0C0C;
}

.input.number {
    font-family: 'Segoe UI', sans-serif;
    border: 2px solid #797979;
    padding: 4px 8px 5px 8px;
    background-color: #131313;
    color: white;
}

.input.number:hover {
    border: 2px solid #A5A5A5;
    background-color: #0C0C0C;
}

.input.date {
    font-family: 'Segoe UI', sans-serif;
    border: 2px solid #797979;
    padding: 4px 8px 5px 8px;
    background-color: #131313;
    color: white;
}

.input.date:hover {
    border: 2px solid #A5A5A5;
    background-color: #0C0C0C;
}

.input.time {
    font-family: 'Segoe UI', sans-serif;
    border: 2px solid #797979;
    padding: 4px 8px 5px 8px;
    background-color: #131313;
    color: white;
}

.input.time:hover {
    border: 2px solid #A5A5A5;
    background-color: #0C0C0C;
}

.input.multichoiceInput {
    font-family: 'Segoe UI', sans-serif;
    border: 2px solid #797979;
    padding: 4px 8px 6px 8px;
    background-color: #131313;
    color: white;
}

.input.multichoiceInput:hover {
    border: 2px solid #A5A5A5;
    background-color: #0C0C0C;
}

.toggleInput {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
}

.toggleInputLabel {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    margin-top: -3px;
    margin-left: 6px;

    display: inline-block;
    vertical-align: middle;
}

.toggleLabel {
    margin: 0px 0px 0px 6px !important;
    padding: 0px !important;
    display: inline-block;
    vertical-align: middle;
}