/*body {
    font-family: 'Segoe UI', sans-serif;
}*/

/*h1 {
    font-size: xx-large;
    cursor: pointer;
}

h2 {
    font-size: x-large;
    cursor: pointer;
}

h3 {
    font-size: medium;
    cursor: pointer;
}*/

.content {
    margin-top: 40px;
}

.content-sidebar {
    margin-top: 40px;
    margin-left: 256px;
}

.w3-sidebar {
    width: 256px;
    font-family: "Segoe UI Semibold", sans-serif;
    font-size: 15px;
}

.logo {
    float:left; 
    margin-top:-4px;
    margin-bottom:-4px;
}

img {
    margin-bottom: 0px; 
    border-style: none;
}
h1, h2, h3, h4 {
    font-family: "Segoe UI Semibold", sans-serif;
}

body, p, th, div, span, input, button, select {
    font-family: "Segoe UI Semilight", sans-serif;
}