
<div class="w3-content w3-center w3-container" style="max-width:1564px">
    <h1>Connect with us</h1>
    <p class="w3-medium">Tell us what’s working well, what you want to see added or improved, and find out about new updates.</p>
    
    <div class="w3-row w3-padding-32">

        <div class="w3-col l4 w3-container w3-margin-top">
            <div>
                <a href="https://github.com/Microsoft/AdaptiveCards" target="_blank"><img src="/content/connect/github.png" /></a>
            </div>
            <div>
                <a href="https://github.com/Microsoft/AdaptiveCards"><h2>GitHub</h2></a>
                <div>Found a bug, or want to give us feedback? <a href="https://github.com/Microsoft/AdaptiveCards/issues">Tell us on GitHub</a>.</div>
            </div>
        </div>

        <div class="w3-col l4 w3-container  w3-margin-top">
            <div>
                <a href="http://stackoverflow.com/questions/tagged/adaptive-cards" target="_blank"><img src="/content/connect/stackoverflow.png" /></a>
            </div>
            <div>
                <a href="http://stackoverflow.com/questions/tagged/adaptive-cards" target="_blank">
                <h2>Stack Overflow</h2></a>
                <div>Engage with your peers and ask questions about Adaptive Cards on <a href="http://stackoverflow.com/questions/tagged/adaptive-cards" target="_blank">Stack Overflow</a> using the tag <b>adaptive-cards.</b></div>
            </div>
        </div>

        <div class="w3-col l4 w3-container  w3-margin-top">
            <div>
                <a href="http://twitter.com/#!/search/realtime/%23adaptivecards" target="_blank"><img src="/content/connect/twitter.png" /></a>
            </div>
            <div>
                <a href="http://twitter.com/#!/search/realtime/%23adaptivecards" target="_blank"><h2>Twitter</h2></a>
                <div class="">Stay up to date via the #adaptivecards tag!</div>
            </div>
        </div>
    </div>