<%- partial('_partial/head', null, {cache: false}) %>

<body>

<%- partial('_partial/header', null, {cache: false}) %>

<div id="mainContent" class="main-container <% if (!page.hideBreadcrumb) { %>uhf-container<% } %>">
  <%- body %>
</div>

<%- partial('_partial/footer', null, {cache: false}) %>

</body>
</html>
