
<!-- this is copied from ../adaptivecards-visualizer/index.html -->
<div class="w3-container w3-hide-medium w3-hide-large">
  <h1>Visualizer</h1>
  <h4>Sorry!</h4>
  <p>The Visualizer doesn't work on mobile at this time. Be sure to check it out on your PC though.</p>
</div>

<div class="w3-row w3-light-grey w3-padding w3-hide-small">
    <div class="w3-col s12 m6 l7">
        <div id="editCard" class="button">Card editor</div>
        <div id="editConfig" class="button subdued" style="margin-left: 4px;">Host Config editor</div>
    
        <div style="display: none"><input type="file" id="filePicker"></div>
        <div id="loadSample" class="button w3-hide-small w3-hide-medium" style="margin-left: 4px;">Load from file...</div>
    </div>    

    <div class="w3-col s12 m6 l5">
        <span style="margin-right: 6px;" class="w3-hide-small w3-hide-medium">Select Host App:</span>
        <select id="hostContainerPicker" class="host-picker"></select>
        <div class="button" onclick="window.open('https://docs.microsoft.com/en-us/adaptive-cards/resources/partners')">Partner Status</div>
    </div>
</div>
    
<div class="w3-row w3-hide-small">

    <div id="editor" class="w3-col s12 m6 l7 w3-mobile">
    </div>

    <div class="w3-col s12 m6 l5 w3-padding w3-padding-16 w3-mobile">
        <div id="errorContainer" class="errorContainer"></div>
        <div id="content"></div>
    </div>
</div>