@font-face {
  font-family: "Glyphs";
  src: url("fonts/Glyphs/WinJSSymMDL2.eot");
  src: url("fonts/Glyphs/WinJSSymMDL2.eot#iefix") format("embedded-opentype"), url("fonts/Glyphs/WinJSSymMDL2.ttf") format("truetype");
}
@font-face {
  font-family: "Segoe UI";
  src: url("fonts/SegoeUI-Normal/latest.eot");
  src: url("fonts/SegoeUI-Normal/latest.eot?") format("embedded-opentype"), url("fonts/SegoeUI-Normal/latest.woff") format("woff"), url("fonts/SegoeUI-Normal/latest.ttf") format("truetype"), url("fonts/SegoeUI-Normal/latest.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Segoe UI Semilight";
  src: url("fonts/SegoeUI-Semilight/latest.eot");
  src: url("fonts/SegoeUI-Semilight/latest.eot?") format("embedded-opentype"), url("fonts/SegoeUI-Semilight/latest.woff") format("woff"), url("fonts/SegoeUI-Semilight/latest.ttf") format("truetype"), url("fonts/SegoeUI-Semilight/latest.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Segoe UI Semibold";
  src: url("fonts/SegoeUI-Semibold/latest.eot");
  src: url("fonts/SegoeUI-Semibold/latest.eot?") format("embedded-opentype"), url("fonts/SegoeUI-Semibold/latest.woff") format("woff"), url("fonts/SegoeUI-Semibold/latest.ttf") format("truetype"), url("fonts/SegoeUI-Semibold/latest.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Segoe UI Bold";
  src: url("fonts/SegoeUI-Bold/latest.eot");
  src: url("fonts/SegoeUI-Bold/latest.eot?") format("embedded-opentype"), url("fonts/SegoeUI-Bold/latest.woff") format("woff"), url("fonts/SegoeUI-Bold/latest.ttf") format("truetype"), url("fonts/SegoeUI-Bold/latest.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Fabric MDL2";
  src: url("fonts/Fabric-MDL2/latest.eot");
  src: url("fonts/Fabric-MDL2/latest.eot?") format("embedded-opentype"), url("fonts/Fabric-MDL2/latest.woff") format("woff"), url("fonts/Fabric-MDL2/latest.ttf") format("truetype"), url("fonts/Fabric-MDL2/latest.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}


