/*body {
    font-family: 'Segoe UI', sans-serif;
}*/

/*h1 {
    font-size: xx-large;
    cursor: pointer;
}

h2 {
    font-size: x-large;
    cursor: pointer;
}

h3 {
    font-size: medium;
    cursor: pointer;
}*/

.content {
    margin-top: 40px;
}

.content-sidebar {
    margin-top: 40px;
    margin-left: 256px;
}

.w3-sidebar {
    width: 256px;
    font-family: "Segoe UI";
    font-size: 15px;
    font-weight:600;
}

.logo {
    float:left; 
    margin-top:-4px;
    margin-bottom:-4px;
}

img {
    margin-bottom: 0px; 
    border-style: none;
}