
.card {
    background - color:rgb(250, 250, 250);
    border: 1px solid #ccc;
    font-family: 'Segoe UI', 'sans-serif';
    margin: 20px;
    width: 500px;
}

.ac-pushButton {
    min-width: 80px;
    text-align: center;
    vertical-align: middle;
    font-family: "Segoe UI",sans-serif;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    border: 2px solid #5D60B3;
    padding: 4px 10px 5px 10px;
    color: #5d60b3;
    background-color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.trymelink {
    background-color: #4caf50;
    color: #ffffff;
    padding: 6px 16px;
    margin: 20px;
    text-decoration: none !important;
}

.maincontent {
    max-width:1000px;
}