
<div class="w3-container" id="topic" style="margin-top:200px;margin-left:auto;margin-right:auto;max-width:1200px;">
    <h1>Connect with us</h1>
    <p class="banner-text">Tell us what’s working well, what you want to see added or improved, and find out about new updates.</p>
    <div class="w3-row">
        <div class="w3-third" style="margin-top:20px;">
            <div class="w3-container w3-cell">
                <a href="https://github.com/Microsoft/AdaptiveCards/issues" target="_blank"><img src="/content/connect/github.png" style="display:flex" /></a>
            </div>
            <div class="w3-container w3-cell">
                <a href="https://github.com/Microsoft/AdaptiveCards/issues"><h2>GitHub</h2></a>
                <div>Found a bug, or want to give us feedback? <a href="https://github.com/Microsoft/AdaptiveCards/issues">Tell us on GitHub</a>.</div>
            </div>
        </div>
        <div class="w3-third" style="margin-top:20px;">
            <div class="w3-container w3-cell">
                <a class="" href="http://stackoverflow.com/questions/tagged/adaptive-cards" target="_blank"><img src="/content/connect/stackoverflow.png" style="display:flex" / /></a>
            </div>
            <div class="w3-container w3-cell">
                <a href="http://stackoverflow.com/questions/tagged/adaptive-cards" target="_blank"><h2>Stack Overflow</h2></a>
                <div>Engage with your peers and ask questions about Adaptive Cards on <a href="http://stackoverflow.com/questions/tagged/adaptive-cards" target="_blank">Stack Overflow</a> using the tag <b>adaptive-cards.</b></div>
            </div>
        </div>
        <!--<div class="callout col-md-4">
            <a class="icon blog img-circle" href="http://blogs.msdn.com/b/typescript/" target="_blank"><img src="content/connect/blog.png" /></a>
            <a href="http://blogs.msdn.com/b/typescript/" target="_blank"><h2>Blog</h2></a>
            <div class="text">Learn about the latest TypeScript developments via our <a href="http://blogs.msdn.com/b/typescript/" target="_blank">blog</a>!</div>
        </div>-->
        <div class="w3-third" style="margin-top:20px;">
            <div class="w3-container w3-cell">
                <a class="" href="http://twitter.com/#!/search/realtime/%23adaptivecards" target="_blank"><img src="/content/connect/twitter.png" style="display:flex" / /></a>
            </div>
            <div class="w3-container w3-cell">
                <a href="http://twitter.com/#!/search/realtime/%23adaptivecards" target="_blank"><h2>Twitter</h2></a>
                <div class="">Stay up to date via the #adaptivecards tag!</div>
            </div>
            <!--<div class="callout col-md-4">
        <a class="icon friends-of-typescript img-circle" href="/community/friends.html"><img src="content/connect/friends.png" /></a>
        <a href="/community/friends.html"><h2>Friends of TypeScript</h2></a>
        <div class="text">Learn about <a href="/community/friends.html">who's already improving their workflows</a> with TypeScript!</div>
    </div>-->
        </div>
    </div>