<%- partial('_partial/head') %>

<body>

<%- partial('_partial/header', null, {cache: false}) %>

<div id="mainContent">
  <%- body %>
</div>
        
<%- partial('_partial/footer', null, {cache: false}) %>

</body>
</html>