
<div class="w3-content" style="max-width:1564px">

<div id="sidebar" class="w3-sidebar w3-bar-block w3-light-grey w3-card-2" style="width: 180px">
   <div class="w3-white w3-card-2">
      <% page.samples.forEach(function(sample) { %>
        <a href="<%- url_for(sample.htmlPath) %>" class="w3-bar-item w3-button"><%= sample.name %></a>
      <% }) %>
    </div>
</div>

<div class="w3-container" style="margin-left: 200px">
  <h1><%= page.title %></h1>



  <%- partial("_partial/code-example", { examplePath: page.sample.jsonPath }) %>

  
</div>
</div>