[Adaptive Cards Javascript SDK](../README.md) › ["card-elements"](../modules/_card_elements_.md) › [ValidationResults](_card_elements_.validationresults.md)

# Class: ValidationResults

## Hierarchy

* **ValidationResults**

## Index

### Properties

* [allIds](_card_elements_.validationresults.md#allids)
* [failures](_card_elements_.validationresults.md#failures)

### Methods

* [addFailure](_card_elements_.validationresults.md#addfailure)

## Properties

###  allIds

• **allIds**: *Shared.Dictionary‹number›*

___

###  failures

• **failures**: *[ValidationFailure](_card_elements_.validationfailure.md)[]* = []

## Methods

###  addFailure

▸ **addFailure**(`cardObject`: [CardObject](_card_elements_.cardobject.md), `error`: [IValidationError](../interfaces/_host_config_.ivalidationerror.md)): *void*

**Parameters:**

Name | Type |
------ | ------ |
`cardObject` | [CardObject](_card_elements_.cardobject.md) |
`error` | [IValidationError](../interfaces/_host_config_.ivalidationerror.md) |

**Returns:** *void*
