<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdaptiveCards" version="1.2.4" targetFramework="net472" />
  <package id="AdaptiveCards.Rendering.Wpf" version="1.2.4" targetFramework="net472" />
  <package id="AdaptiveCards.Templating" version="1.0.0-rc.1" targetFramework="net472" />
  <package id="AdaptiveExpressions" version="4.9.0" targetFramework="net472" />
  <package id="Antlr4.Runtime" version="4.6.6" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="Microsoft.MarkedNet" version="1.0.13" targetFramework="net472" />
  <package id="Microsoft.Recognizers.Text.DataTypes.TimexExpression" version="1.2.9" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
</packages>