<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.6.4" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.7" targetFramework="net46" />
  <package id="Microsoft.Net.Compilers" version="2.1.0" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net46" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.1.0" targetFramework="net46" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Threading" version="15.3.20" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.15" targetFramework="net46" />
  <package id="Nerdbank.FullDuplexStream" version="1.0.9" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net46" />
  <package id="StreamJsonRpc" version="1.2.8" targetFramework="net46" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net46" />
  <package id="Validation" version="2.3.7" targetFramework="net46" />
</packages>