.ac-image.ac-selectable {
  cursor: pointer;
}

.ac-image.ac-selectable:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.ac-image.ac-selectable:active {
  background-color: rgba(0, 0, 0, 0.15);
}

.skypeContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
}

a.ac-anchor {
  text-decoration: none;
}

a.ac-anchor:link {
  color: #005A9E;
}

a.ac-anchor:visited {
  color: #005A9E;
}

a.ac-anchor:link:active {
  color: #004D84;
}

a.ac-anchor:visited:active {
  color: #004D84;
}

.ac-container.ac-selectable, .ac-columnSet.ac-selectable {
  padding: 0px;
}

.ac-container.ac-selectable:hover, .ac-columnSet.ac-selectable:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.ac-container.ac-selectable:active, .ac-columnSet.ac-selectable:active {
  background-color: rgba(0, 0, 0, 0.15) !important;
}

.ac-pushButton {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 4px 10px 6px 10px;
  height: 31px;
  background-color: white;
  color: #0078d7;
}

.ac-pushButton:hover {
  background-color: #0078d7;
  color: #fff;
}

.ac-pushButton:active {
  background-color: #0078d7;
  color: #fff;
}

.ac-pushButton {
  border: 2px solid #dcdcdc;
  border-radius: 20px;
  line-height: 20px;
}

.ac-input {
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  color: black;
}

.ac-input.ac-textInput {
  resize: none;
}

.ac-input.ac-textInput.ac-multiline {
  height: 72px;
}

.ac-input.ac-textInput, .ac-input.ac-numberInput, .ac-input.ac-dateInput, .ac-input.ac-timeInput {
  height: 31px;
}

.ac-input.ac-textInput, .ac-input.ac-numberInput, .ac-input.ac-dateInput, .ac-input.ac-timeInput, .ac-input.ac-multichoiceInput {
  border: 1px solid #DDDDDD;
  padding: 4px 8px 4px 8px;
}

/*Bot hexagon*/
.hexagon {
  overflow: hidden;
  visibility: hidden;
  transform: rotate(120deg);
  cursor: pointer;
  width: 50px;
  height: 40px;
  margin: 2px 5px -20px 0px;
}

.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
}

.hexagon-in2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(../assets/bot-framework.png);
  background-size: 50px 50px;
  visibility: visible;
  transform: rotate(-60deg);
}
