.timeline-frame {
  background: url('../assets/timeline.jpg');
  height: 400px;
  background-repeat: no-repeat;
}

.timeline-card {
  overflow: hidden;
  padding-left: 48px;
  padding-top: 158px;
}

/* .timeline-card > div {
    max-width: 328px !important;
    max-height: 178px !important;
} */
