html { 
    overflow: auto;
}

body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    display: block;
    overflow: none;
}

.popupOverlay {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100000;
}

.popupCardContainer {
    position: absolute;
    background-color: white;
    box-shadow: 0 0 15px -5px rgba(0,0,0,.4);
    padding: 20px;
    min-width: 300px;
}

.errorContainer {
    background: #2762ce;
    color: white;
    padding: 4px 8px 4px 8px;
    margin-bottom: 20px;
}

#editor {
    height: calc(100vh - 103px);
    border: 1px solid #EEEEEE;
    overflow: hidden;
}

div.markupRender {
    margin-right: 20px;
    margin-bottom: 20px;
}

.button {
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    padding: 3px 10px 3px 10px;
    margin-bottom: 4px;
    min-width: 80px; 
    text-align: center;
    vertical-align: middle;  
    cursor: pointer;
    border: 1px solid #0078D7;
    background-color: #0078D7;
    color: white;    
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
    display: inline-block;
}

.button:hover {
    background-color: #005A9E;
}

.button:active {
    background-color: #004D84;
}

.button.subdued {
    background-color: transparent;
    color: #0078D7;
}

.button.subdued:hover {
    background-color: #0078D7;
    color: white;
}

select.host-picker {
    font-size: 14px;
    border-color: #DDDDDD;
    border-width: 2px;
    border-style: solid;
    height: 31px;
    max-width: 200px;
    vertical-align: top;
}