.berlinInnerContainer {
    border: 1px solid #E6E6E6;
    width: 300px;
    border-radius: 4px;
	color: white;
}

.ac-adaptiveCard {
    border: 0px;
}

.ac-anchor {
    text-decoration: none;
}

.ac-anchor:link {
    color: rgb(153, 235, 255);
}

.ac-choiceSetInput-compact {
    height: 32px;
    width: 254px;
    border: 1px;
    border-radius: 2px;
}

.ac-pushButton {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 12px;
    font-family: Segoe UI, Helvetica Neue, sans-serif;
    border: 0.5px solid white;
    border-radius: 4px;
    height: 26px;
    width: 100%;
}


.style-positive {
    background-color: #4EA1E1;
    width: 267px;
    border-radius: 4px;
    border: 0px;
    color: #FFFFFF;
}
