* {
    box-sizing: border-box;
}

.stretch {
    width: 100%;
}

.smallSize {
    width: 100px;
}

.mediumSize {
    width: 200px;
}

.largeSize {
    width: 300px;
}

.text {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.text.small {
    font-size: 12px;
    margin: -4px 0px 5px 0px;
}

.text.defaultSize {
    font-size: 15px;
    margin: -5px 0px 5px 0px;
}

.text.medium {
    font-size: 20px;
    margin: -8px 0px 5px 0px;
}

.text.large {
    font-size: 24px;
    margin: -9px 0px 5px 0px;
}

.text.extraLarge {
    font-size: 30px;
    margin: -11px 0px 5px 0px;
}

.text.lighter {
    font-weight: 200;
}

.text.defaultWeight {
    font-weight: 400;
}

.text.bolder {
    font-weight: 600;
}

.text.defaultColor {
    color: rgb(51, 51, 51);
}

.text.defaultColor.subtle {
    color: rgba(51, 51, 51, 0.5);
}

.text.darkColor {
    color: rgb(51, 51, 51);
}

.text.darkColor.subtle {
    color: rgba(51, 51, 51, 0.5);
}

.text.lightColor {
    color: rgb(255, 255, 255);
}

.text.lightColor.subtle {
    color: rgba(255, 255, 255, 0.5);
}

.text.accentColor {
    color:  rgb(46, 137, 252);
}

.text.accentColor.subtle {
    color:  rgba(46, 137, 252, 0.5);
}

.text.goodColor {
    color: #2ccc35;
}

.text.warningColor {
    color: #f9a203;
}

.text.attentionColor {
    color: darkred;
}

.rootContainer {
    padding: 12px;
}

.container {
    margin: 15px 0px 0px 0px;
}

.image {
    margin: 5px 0px 0px 0px;
}

.image.autoSize {
    max-width: 100%;
}

.image.stretch {
    width: 100%;
}

.image.small {
    max-width: 40px;
}

.image.medium {
    max-width: 80px;
}

.image.large {
    max-width: 160px;
}

.image.person {
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

table.factGroup {
    margin: 10px 0px 0px 0px;
    border-width: 0px;
    border-spacing: 0px;
    border-style: none;
    border-collapse: collapse;
}

tr.factGroupRowSpacer {
    height: 10px;
}

td.factName {
    border-width: 0px;
    padding: 0px;
    border-style: none;
    min-width: 100px;
    vertical-align: top;
    white-space: nowrap;
    padding-top: 4px;
}

td.factValue {
    border-width: 0px;
    padding: 0px;
    border-style: none;
    vertical-align: top;
    padding: 4px 0px 0px 10px;
}

.imageGallery {
    margin: 20px 0px 0px 0px;
}

.input {
    margin: 2px 0px 0px 0px;
}

.separator {
    border-top: 1px solid #464646;
    margin: 20px 0px 0px 0px;
}

.actionGroup {
    margin: 10px 0px 0px 0px;
}

.columnGroup {
    margin: 20px 0px 0px 0px;
}

.columnSpacer {
    width: 10px;    
}

.actionCardContainer {
    margin: 16px -20px 0px -20px;
    padding: 16px 20px 16px 20px;
    background-color: rgba(255, 255, 255, 0.1);
}

.buttonStrip {
    display: flex;
    overflow: hidden;
}

.buttonStripItem {
    flex: 0 1 100%;
    white-space: nowrap;
    overflow: hidden;
}

.buttonStripItemSpacer {
    margin-right: 5px;
}

.pushButton {
    font-family: 'Segoe UI', sans-serif;
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 2px solid transparent;
    padding: 4px 10px 5px 10px;
    text-align: center;
    vertical-align: middle;  
    cursor: default;
    background-color: #464646;
    color: white;    
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.pushButton:hover {
    border: 2px solid #A9A9A9;
}

.pushButton:active {
    background-color: #828282;
}

.pushButton.expanded {
    background-color: #0078D7;
}

.pushButton.expanded:hover {
    background-color: #005A9E;
}

.pushButton.expanded:active {
    background-color: #004D84;
}

/*
Other styles that can be specified:
    .pushButton.expanded
    .pushButton.expanded:hover
    .pushButton.expanded:active

    .pushButton.subdued
    .pushButton.subdued:hover
    .pushButton.subdued:active
*/

.linkButton {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    border: none;
    padding: none;
    color: #0078D7;
    background-color: transparent;
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.linkButton:hover {
    color: #005A9E;
}

.linkButton:active {
    color: #004D84;
}

.linkButton.subdued {
    color: #666666;
    font-weight: 500;
}

.linkButton.subdued:hover {
    color: #005A9E;
}

.linkButton.subdued:active {
    color: #004D84;
}

/*
Other styles that can be specified:
    .linkButton.expanded
    .linkButton.expanded:hover
    .linkButton.expanded:active
*/

textarea.textInput {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    border: 2px solid #797979;
    padding: 4px 8px 4px 8px;
    background-color: #131313;
    color: white;
    height: 72px;
    resize: none;
}

textarea.textInput:hover {
    border: 2px solid #A5A5A5;
    background-color: #0C0C0C;
}

input.dateInput {
    font-family: 'Segoe UI', sans-serif;
    border: 2px solid #797979;
    padding: 4px 8px 5px 8px;
    background-color: #131313;
    color: white;
}

input.dateInput:hover {
    border: 2px solid #A5A5A5;
    background-color: #0C0C0C;
}

input.timeInput {
    font-family: 'Segoe UI', sans-serif;
    border: 2px solid #797979;
    padding: 4px 8px 5px 8px;
    background-color: #131313;
    color: white;
}

input.timeInput:hover {
    border: 2px solid #A5A5A5;
    background-color: #0C0C0C;
}

select.multichoiceInput {
    font-family: 'Segoe UI', sans-serif;
    border: 2px solid #797979;
    padding: 4px 8px 6px 8px;
    background-color: #131313;
    color: white;
}

select.multichoiceInput:hover {
    border: 2px solid #A5A5A5;
    background-color: #0C0C0C;
}