
<div class="w3-cell-row">
    
    <div class="w3-container w3-cell w3-mobile code-snippet">
        <pre><code class='json'><%- getcontent(examplePath) %></code></pre>
    </div>

    <div class="w3-container w3-cell w3-mobile" style="width: 300px">
        <div class="adaptivecard"><%- getcontent(examplePath) %></div>
        <a class="w3-btn w3-blue" target="_blank" href="/visualizer?card=/explorer/cards/TextBlock.Color.json">Try it Yourself »</a>
    </div>

   
</div>