<div class="w3-cell-row">

    <div class="w3-container w3-cell w3-card-2 w3-light-grey w3-mobile code-snippet">
        <pre><code><%- getcontent(examplePath) %></code></pre>
    </div>

    <div class="w3-container w3-cell w3-card-2 w3-blue w3-mobile" style="min-width: 250px; max-width: 250px">
        <div class="adaptivecard"><%- getcontent(examplePath) %></div>
    </div>

    <a class='trymelink' target='_blank' href='/visualizer?card=/explorer/cards/TextBlock.Color.json'>Try it Yourself »</a>
</div>