* {
    box-sizing: border-box;
    font-family: 'Segoe UI'
}

.cardcontainer {
    width: 400px;
    border-width: 1px;
    border-color: #808080;
    border-style: solid;
}

.error {
    border: solid 1px maroon;
    color: white;
    background: maroon;
    padding: 5px;
    width: 400px;
}

.warning {
    border: solid 1px orange;
    color: white;
    background: orange;
    padding: 5px;
    width: 400px;
}