* {
    box-sizing: border-box;
}

.cardcontainer {
    width: 400px;
    border-width: 1px;
    border-color: #808080;
    border-style: solid;
    padding: 8px;
}

.NoSeparation {
    margin-top: 0px !important;
}

.Separator {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
}

.stretch {
    width: 100%;
}

.TextBlock {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    color: rgb(51, 51, 51);
    margin-top: 20px;
}

.TextBlock.Small {
    font-size: 12px;
}

.TextBlock.Medium {
    font-size: 20px;
}

.TextBlock.Large {
    font-size: 24px;
}

.TextBlock.ExtraLarge {
    font-size: 30px;
}

.TextBlock.Lighter {
    font-weight: 200;
}

.TextBlock.Bolder {
    font-weight: 600;
}

.TextBlock.Subtle {
    color: rgba(51, 51, 51, 0.5);
}

.TextBlock.Dark {
    color: rgb(51, 51, 51);
}

.TextBlock.Dark.Subtle {
    color: rgba(51, 51, 51, 0.5);
}

.TextBlock.Light {
    color: rgb(255, 255, 255);
}

.TextBlock.Light.Subtle {
    color: rgba(255, 255, 255, 0.5);
}

.TextBlock.Accent {
    color:  rgb(46, 137, 252);
}

.TextBlock.Accent.Subtle {
    color:  rgba(46, 137, 252, 0.5);
}

.TextBlock.Good {
    color: #2ccc35;
}

.TextBlock.Warning {
    color: #f9a203;
}

.TextBlock.Attention {
    color: darkred;
}

.AdaptiveCard {
    padding: 20px;
    width: 450px;
}

.Container {
  margin-top: 20px;
}

.Container.Selectable {
    padding: 5px;
}

.Container.Selectable:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.Container.Selectable:active {
    background-color: rgba(0, 0, 0, 0.15);
}

.Image {
    margin: 20px 0px 0px 0px;
}

.Image.Selectable {
    cursor: pointer;
}

.Image.Auto {
    max-width: 100%;
}

.Image.Stretch {
    width: 100%;
}

.Image.Small {
    max-width: 40px;
}

.Image.Medium {
    max-width: 80px;
}

.Image.Large {
    max-width: 160px;
}

.Image.Person {
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

table.FactSet {
    margin: 20px 0px 0px 0px;
    border-width: 0px;
    border-spacing: 0px;
    border-style: none;
    border-collapse: collapse;
}

tr.FactSetRowSpacer {
    height: 10px;
}

.FactName {
    border-width: 0px;
    padding: 0px;
    border-style: none;
    min-width: 100px;
    vertical-align: top;
    white-space: nowrap;
    margin-top: 0px !important;
    margin-right: 8px;
    font-weight: 600;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    color: rgb(51, 51, 51);
}

.FactValue {
    border-width: 0px;
    padding: 0px;
    border-style: none;
    vertical-align: top;
    padding: 0px 0px 0px 10px
    margin-top: 0px !important;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    color: rgb(51, 51, 51);
}

.ImageGallery {
    margin: 20px 0px 0px 0px;
}

.ColumnSet {
  margin-top: 20px;
}

.Column {
}

.Column.Selectable {
    padding: 5px;
}

.Column.Selectable:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.Column.Selectable:active {
    background-color: rgba(0, 0, 0, 0.15);
}

.ColumnSeparator.Default {
    width: 10px;    
}

.ColumnSeparator.Strong {
    border-left: 1px solid #EEEEEE;
    margin-left: 10px;
    padding-left: 10px;
}

.actionCardContainer {
    margin-top: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #F8F8F8;
}

.buttonStrip {
    display: flex;
    overflow: hidden;
}

.buttonStripItem {
    flex: 0 1 auto;
    white-space: nowrap;
    overflow: hidden;
}

.buttonStripItemSpacer {
    margin-right: 20px;
}

.pushButton {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    padding: 4px 10px 5px 10px;
    min-width: 80px; 
    text-align: center;
    vertical-align: middle;  
    cursor: default;
    background-color: #0078D7;
    color: white;    
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.pushButton:hover {
    background-color: #005A9E;
}

.pushButton:active {
    background-color: #004D84;
}

/*
Other styles that can be specified:
    .pushButton.expanded
    .pushButton.expanded:hover
    .pushButton.expanded:active

    .pushButton.subdued
    .pushButton.subdued:hover
    .pushButton.subdued:active
*/

.linkButton {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    border: none;
    padding: none;
    color: #0078D7;
    background-color: transparent;
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.linkButton:hover {
    color: #005A9E;
}

.linkButton:active {
    color: #004D84;
}

.linkButton.subdued {
    color: #666666;
    font-weight: 500;
}

.linkButton.subdued:hover {
    color: #005A9E;
}

.linkButton.subdued:active {
    color: #004D84;
}

/*
Other styles that can be specified:
    .linkButton.expanded
    .linkButton.expanded:hover
    .linkButton.expanded:active
*/

.Input {
    margin: 10px 0px 0px 0px;
}

.Input.TextBlockInput {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    border-color: #EAEAEA;
    border-width: 1px;
    border-style: solid;
    padding: 4px 8px 4px 8px;
    height: 30px;
    resize: none;
}

.Input.TextBlockInput.multiline {
    height: 72px;
}

.InputNumber {
    font-family: 'Segoe UI', sans-serif;
    border-color: #EAEAEA;
    border-width: 1px;
    border-style: solid;
    padding: 4px 8px 5px 8px;
}

.InputDate {
    font-family: 'Segoe UI', sans-serif;
    border-color: #EAEAEA;
    border-width: 1px;
    border-style: solid;
    padding: 4px 8px 5px 8px;
}

.InputTime {
    font-family: 'Segoe UI', sans-serif;
    border-color: #EAEAEA;
    border-width: 1px;
    border-style: solid;
    padding: 4px 8px 5px 8px;
}

.InputMultichoiceInput {
    font-family: 'Segoe UI', sans-serif;
    border-color: #EAEAEA;
    border-width: 1px;
    border-style: solid;
    padding: 4px 8px 6px 8px;
}

.InputToggle{
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
}

.toggleLabel {
    margin: 0px 0px 0px 6px !important;
    padding: 0px !important;
    display: inline-block;
    vertical-align: middle;
}