<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdaptiveExpressions" version="4.9.0-preview-200331-116684" targetFramework="net461" />
  <package id="Antlr4" version="4.6.6" targetFramework="net461" developmentDependency="true" />
  <package id="Antlr4.CodeGenerator" version="4.6.6" targetFramework="net461" developmentDependency="true" />
  <package id="Antlr4.Runtime" version="4.6.6" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Microsoft.Recognizers.Text.DataTypes.TimexExpression" version="1.2.9" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.3.2" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.3.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
</packages>