<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".json" mimeType="application/json" />
		</staticContent>
		<rewrite>
			<rules>
				<rule name="Documentation" stopProcessing="true">
					<match url="^documentation/(.*)$" />
					<action type="Redirect" redirectType="Permanent" url="https://docs.microsoft.com/adaptive-cards" />
				</rule>
				<rule name="Archives" stopProcessing="true">
					<match url="^archives/(.*)$" />
					<action type="Redirect" redirectType="Permanent" url="/blog/{R:1}" />
				</rule>
				<rule name="BlogPosts" stopProcessing="true">
					<match url="^blog/2018/10/12/Announcing-1.1/$" />
					<action type="Redirect" redirectType="Permanent" url="/blog/2018/Announcing-1.1/" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>