<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <rewrite>
        <rules>
            <rule name="Documentation" stopProcessing="true">
            <match url="^documentation/(.*)$" />
            <action type="Redirect" redirectType="Permanent" url="https://docs.microsoft.com/adaptive-cards" />
            </rule>
        </rules>
        </rewrite>
    </system.webServer>
</configuration>