<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="X-Content-Type-Options" value="nosniff" />
			</customHeaders>
		</httpProtocol>
		<staticContent>
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff" /> 
			<mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
		</staticContent>
		<rewrite>
			<rules>
				<rule name="Documentation" stopProcessing="true">
					<match url="^documentation/(.*)$" />
					<action type="Redirect" redirectType="Permanent" url="https://docs.microsoft.com/adaptive-cards" />
				</rule>
				<rule name="Archives" stopProcessing="true">
					<match url="^archives/(.*)$" />
					<action type="Redirect" redirectType="Permanent" url="/blog/{R:1}" />
				</rule>
				<rule name="BlogPosts" stopProcessing="true">
					<match url="^blog/2018/10/12/Announcing-1.1/$" />
					<action type="Redirect" redirectType="Permanent" url="/blog/2018/Announcing-1.1/" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
