$padding-default: 12px;
$text-color-dark: black;
$text-color-normal: #333333;
$text-color-subdued: gray;
$text-color-highlighted: white;
$background-color-selected: #0078D7;
$hover-color: #0078D7;
$focused-color: #0078D7;
$item-hover-color: #EEEEEE;
$item-selected-color: #CCCCCC;
$border-color-normal:#EEEEEE;
$border-color-dark: #A6A6A6;
$border-color-darker: #767676;
$border-color-hover: #0078D7;
$border-color-focused: #0078D7;
$dropdown-height: 32px;
$dropdown-label-height: 30px;

.ms-ctrl-overlay {
    position: absolute;
    left: 0;
    top: 0;
}

@keyframes fadeIn {
    0% { opacity: 0; }
}

@keyframes slideTopToBottom {
    0% { transform: translate(0, -20px); }
}

@keyframes slideBottomToTop {
    0% { transform: translate(0, 20px); }
}

@keyframes slideLeftToRight {
    0% { transform: translate(-20px, 0); }
}

@keyframes slideRightToLeft {
    0% { transform: translate(20px, 0); }
}

.ms-ctrl-slide {
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.1,.9,.2,1);
}

.ms-ctrl-slide.ms-ctrl-slideTopToBottom {
    animation-name: fadeIn,slideTopToBottom;
}

.ms-ctrl-slide.ms-ctrl-slideBottomToTop {
    animation-name: fadeIn,slideBottomToTop;
}

.ms-ctrl-slide.ms-ctrl-slideLeftToRight {
    animation-name: fadeIn,slideLeftToRight;
}

.ms-ctrl-slide.ms-ctrl-slideRightToLeft {
    animation-name: fadeIn,slideRightToLeft;
}

@font-face {
    font-family: 'FabricMDL2Icons';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/icons/fabricmdl2icons.woff2?2.21') format('woff2'),
         url('https://static2.sharepointonline.com/files/fabric/assets/icons/fabricmdl2icons.woff?2.21') format('woff'),
         url('https://static2.sharepointonline.com/files/fabric/assets/icons/fabricmdl2icons.ttf?2.21') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ms-icon {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: 'FabricMDL2Icons';
    font-style: normal;
    font-weight: normal;
}

.ms-icon-chevronDown::before {
    content: '\E70D';
}

.ms-icon-chevronLeft::before {
    content: "\E76B";
}

.ms-icon-chevronRight::before {
    content: "\E76C";
}

.ms-icon-calendar::before {
    content: "\E787";
}

.ms-icon-radioOff::before {
    content: "\ECCA";
}

.ms-icon-radioOn::before {
    content: "\ECCB";
}

.ms-icon-checkboxOff::before {
    content: "\E739";
}

.ms-icon-checkboxOn::before {
    content: "\E73A";
}

.ms-icon-checkboxOn-reversed::before {
    content: "\E73D";
}

.ms-icon-checkMark::before {
    content: "\E73E";
}

.ms-ctrl {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.ms-ctrl-dropdown {
    border: 1px solid $border-color-normal;
    height: $dropdown-height;
    display: flex;
    padding-left: $padding-default;
    padding-right: $padding-default;
    cursor: pointer;
}

.ms-ctrl-dropdown:hover {
    border: 1px solid $border-color-hover;
}

.ms-ctrl-dropdown:focus {
    border: 1px solid $border-color-focused;
    outline: 0;
}

.ms-dropdown-label {
    line-height: $dropdown-label-height;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 100%;
    width: 100%;
    color: $text-color-normal;
    flex: 1 1 100%;
    padding-right: $padding-default;
}

.ms-dropdown-label.placeholder {
    color: $text-color-subdued;
}

.ms-ctrl-dropdown-button {
    line-height: $dropdown-height;
    flex: 0 0 auto;
}

.ms-ctrl-dropdown-button:hover {
    color: $hover-color;
}

.ms-ctrl-dropdown-item {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    padding: 0px 12px 0px 12px;
    line-height: $dropdown-label-height;
    cursor: pointer;
}

.ms-ctrl-dropdown-item:hover {
    background-color: $item-hover-color;
}

.ms-ctrl-dropdown-item:focus {
    outline: 0;
    background-color: $item-selected-color;
}

.ms-ctrl-popup-container {
    border: 1px solid $border-color-normal;
    background-color: white;
    position: absolute;
    box-shadow: 0 0 15px -5px rgba(0,0,0,.4);
    overflow-y: auto;
}

.ms-ctrl-popup-container:focus {
    outline: 0;
}

.ms-ctrl-calendar {
    display: inline-block;
}

$calendar-header-height: 34px;
$calendar-nv-button-width: 30px;

.ms-ctrl-calendarHeader {
    font-size: 18px;
    color: $text-color-subdued;
    padding-left: 4px;
    line-height: $calendar-header-height;
}

.ms-ctrl-calendarNavButton {
    text-align: center;
    line-height: $calendar-header-height;
    width: $calendar-nv-button-width;
    cursor: pointer;
}

.ms-ctrl-calendarNavButton:hover {
    background-color: $item-hover-color;
}

.ms-ctrl-calendarDayHeader {
    font-size: 12px;
    text-align: center;
    padding: 6px 8px 6px 8px;
    color: $text-color-normal;
}

.ms-ctrl-calendarDay {
    font-size: 12px;
    text-align: center;
    padding: 6px 8px 6px 8px;
    color: $text-color-normal;
    cursor: pointer;
}

.ms-ctrl-calendarDay:hover {
    background-color: $item-hover-color;
}

.ms-ctrl-calendarDay.subdued {
    color: $text-color-subdued;
}

.ms-ctrl-calendarDay.selected {
    color: $text-color-highlighted;
    background-color: $background-color-selected;
}

.ms-calendarPopup {
    padding: 6px;
    overflow: hidden;
}

.ms-ctrl-datePicker {
    border: 1px solid $border-color-normal;
    height: $dropdown-height;
    display: flex;
    padding-left: $padding-default;
    padding-right: $padding-default;
    cursor: pointer;
}

.ms-ctrl-datePicker:hover {
    border: 1px solid $border-color-hover;
}

.ms-ctrl-datePicker:focus {
    border: 1px solid $border-color-focused;
    outline: 0;
}

$checkbox-size: 18px;

.ms-ctrl-checkbox {
    outline: 0;
    cursor: pointer;
}

.ms-ctrl-checkbox input[type=checkbox] {
    visibility: hidden;
}

.ms-ctrl-checkbox label {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}

.ms-ctrl-checkbox label span {
    margin-left: $checkbox-size + 6;
    line-height: $checkbox-size;
    color: $text-color-normal;    
    display: inline-block;
}

.ms-ctrl-checkbox label span:hover {
    color: $text-color-dark;
}

.ms-ctrl-checkbox label::before {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    border: 1px solid $border-color-dark;
    content: "";
    width: $checkbox-size;
    height: $checkbox-size;
    transition-property: background,border,border-color;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.23,1);
}

.ms-ctrl-checkbox label:hover::before {
    border: 1px solid $border-color-darker;    
}

.ms-ctrl-checkbox input[type=checkbox]:checked + label::before {
    content: "";
    border: 1px solid $background-color-selected;
    background-color: $background-color-selected;
}

.ms-ctrl-checkbox input[type=checkbox]:checked + label::after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'FabricMDL2Icons';
    font-style: normal;
    font-weight: bold;
    content: "\E73E";
    color: $text-color-highlighted;
    position: absolute;
    width: $checkbox-size;
    line-height: $checkbox-size;
    left: 0;
    top: 0;
    text-align: center;
    transition-property: background,border,border-color;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.23,1);
}

$radiobutton-size: 16px;

.ms-ctrl-radiobutton {
    outline: 0;
    cursor: pointer;
}

.ms-ctrl-radiobutton input[type=radio] {
    visibility: hidden;
}

.ms-ctrl-radiobutton label {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}

.ms-ctrl-radiobutton label span {
    margin-left: $radiobutton-size + 6;
    line-height: $radiobutton-size;
    color: $text-color-normal;
    display: inline-block;
    vertical-align: top;
}

.ms-ctrl-radiobutton label span:hover {
    color: $text-color-dark;
}

.ms-ctrl-radiobutton label::before {
    content: "";
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    border: 1px solid $border-color-dark;
    width: $radiobutton-size;
    height: $radiobutton-size;
    border-radius: 50%;
}

.ms-ctrl-radiobutton label:hover::before {
    border: 1px solid $border-color-darker;    
}

.ms-ctrl-radiobutton input[type=radio]:checked + label::before {
    border: 1px solid $background-color-selected;
}

.ms-ctrl-radiobutton input[type=radio] + label::after {
    content: "";
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    top: $radiobutton-size / 2;
    left: $radiobutton-size / 2;
    width: 0;
    height: 0;
}

.ms-ctrl-radiobutton input[type=radio]:checked + label::after {
    top: $radiobutton-size / 4;
    left: $radiobutton-size / 4;
    width: $radiobutton-size / 2;
    height: $radiobutton-size / 2;
    background-color: $background-color-selected;
    border-radius: 50%;
    transition-property: top,left,right,width,height;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(.4,0,.23,1);
}

.ms-ctrl-textbox {
    border: 1px solid $border-color-normal;
    color: $text-color-normal;
    outline: 0;
    resize: none;
    padding: 4px 8px;
}

.ms-ctrl-textbox-multiline {
    overflow: auto;
}

.ms-ctrl-textbox:-moz-placeholder {
    color: $text-color-subdued;
}

.ms-ctrl-textbox::-moz-placeholder {
    color: $text-color-subdued;
}

.ms-ctrl-textbox:-ms-input-placeholder {
    color: $text-color-subdued;
}

.ms-ctrl-textbox::-ms-input-placeholder {
    color: $text-color-subdued;
}

.ms-ctrl-textbox::-webkit-input-placeholder {
    color: $text-color-subdued;
}

.ms-ctrl-textbox:hover {
    border: 1px solid $border-color-hover;
}

.ms-ctrl-textbox:focus, .ms-ctrl-textbox:active {
    border: 1px solid $border-color-focused;    
}