@font-face {
  font-family: "docons";
  src: url("../content/fonts/docons.woff") format("woff");
}

html {
  overflow: auto;
}

body {
  font-size: 14px;
  font-family: segoe-ui_normal, Segoe UI, Segoe, Segoe WP, Helvetica Neue,
    Helvetica, sans-serif;
  min-height: 100px;
}

body > #headerAreaHolder {
  -webkit-box-ordinal-group: 3 !important;
  -webkit-order: 0 !important;
  -ms-flex-order: 0 !important;
  order: 0 !important;
}

@media print, screen and (min-width: 768px) {
  .breadcrumbs {
    background: none !important;
    border-bottom: none !important;
  }
}

.ac-blue {
  color: #fff !important;
  background-color: #0050c5 !important;
}

.breadcrumbs {
  background: #fafafa;
  margin: 0;
  padding: 6px 0;
  border-bottom: 1px solid #e3e3e3;
  font-size: 1em !important;
}

.breadcrumbs li {
  display: inline-block;
}

#feedback-button:hover {
  text-decoration: none !important;
}

.cat-logo-button-cont {
  border-bottom: 0 !important;
  border-top: 0 !important;
}

.c-uhfh.c-sgl-stck .global-head-cont,
.c-uhfh.c-sgl-stck > div:first-child {
  border-bottom: 0 !important;
}

@media only screen and (max-width: 601px) {
  code {
    max-height: 400px !important;
    font-size: 0.8rem;
  }

  table.w3-responsive code {
    font-size: 0.75rem;
  }

  /* neat trick to reverse order of divs
    http://jsfiddle.net/m37cxb9g/223/
    */
  .reverse-order-mobile {
    transform: scaleY(-1);
  }

  .reverse-order-mobile > div {
    transform: scaleY(-1);
  }

  .uhf-container {
    margin: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 991px) {
  .videobanner {
    display: none;
  }

  code {
    max-height: 400px !important;
    font-size: 0.8rem;
  }

  #menu-nav {
    display: block;
  }
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

.cardImage {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16),
    0px 2px 10px 0px rgba(0, 0, 0, 0.12);
  margin: 20px;
}

.content {
  margin-left: 88px;
  max-width: 1000px;
}

.cardEditor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 0;
  margin: 10px;
}

.adaptivecard {
  display: none;
  border: solid 1px lightgray;
  margin-right: 1px;
  /* margin-top: 10px;
  margin-bottom: 5px; */
  /* min-width: 360px; */
}

@media screen and (min-width: 992px) {
  .code-and-card code {
    /* code element isn't wrapping right with long URLs, so substract the width of adaptive card and sidebar */
    max-width: calc(100vw - 700px) !important;
  }

  .code-and-card .code-snippet {
    padding-right: 0;
  }

  .code-and-card .adaptivecard,
  .code-and-card .card {
    width: 360px;
    /* min-width: 360px; */
  }
}

@media screen and (min-width: 601px) and (max-width: 991px) {
  .code-and-card code {
    max-width: calc(100vw - 464px);
  }

  .code-and-card .code-snippet {
    padding-right: 0;
  }

  .code-and-card .adaptivecard {
    max-width: 364px;
    min-width: 364px;
  }
}

@media screen and (max-width: 600px) {
  .code-and-card code {
    max-width: calc(100vw - 51px);
  }

  .adaptivecard {
    max-width: calc(100vw - 50px);
  }
}

.codeHeader {
  box-sizing: content-box;
  background-color: hsla(0, 0%, 95%, 1);
  background-color: #f2f2f2;
  color: hsla(0, 0%, 0%, 1);
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  border: 1px solid hsla(0, 0%, 89%, 1);
  border: 1px solid #e3e3e3;
  border-bottom: 0;
  margin-top: 16px;
  min-height: 30px;
}

.codeHeader > .language {
  padding: 2px 16px;
  flex-grow: 1;
}

.codeHeader > .action {
  padding: 2px 10px;
  background-color: transparent;
  border: 0 solid hsla(0, 0%, 89%, 1);
  border: 0 solid #e3e3e3;
  border-left-width: 1px;
  color: hsla(0, 0%, 0%, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: normal;
}

.code-snippet {
  /* max-width: 96vw; */
  overflow-x: auto;
}

.code-snippet > pre {
  background-color: #fdfdfd;
  margin-top: 0;
  font-size: 12px;
  overflow-wrap: break-word;
  padding: 0;
  width: 100%;
}

code {
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre-wrap !important;
  overflow-wrap: break-word;
}

.explorer code {
  max-height: 400px;
}

.sample-browser code {
  max-height: calc(100vh - 400px);
}

code.code-short {
  max-height: 200px !important;
}

.sidebar {
  position: fixed;
  top: 118px;
  /* This will get dynamically changed by sticky-sidebar.js */
  bottom: 0;
  overflow: auto;
}

/* Weird conflicts were happening with the docs CSS when it was named toc */

.toc > ul a,
.toc > ul span {
  color: #222;
  display: block;
  font-size: 0.875rem;
  line-height: 1.3;
  margin-left: 1.8rem;
  margin-right: 1rem;
  padding-bottom: 6px;
  padding-top: 4px;
  word-wrap: break-word;
}

ul.action-list {
  padding-left: 0;
}

.toc-todo ul {
  padding-left: 0;
}

.toc-todo ul.toc-tree {
  margin-left: -30px;
  margin-top: 0;
}

.samples-sidebar-list {
  margin-top: 0;
}

.toc-todo ul ul {
  margin: 0;
}

.toc-todo > div > ul > li {
  padding-left: 30px;
}

/* For samples, since there's no heirarchy, don't indent the left as much */
.toc-todo .samples-sidebar-list li {
  padding-left: 12px;
}

.toc-todo li {
  padding-left: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0;
  display: block;
}

/* Cards with a speak tag have <s> tags sometimes */
s {
  text-decoration: none;
}

.toc-todo .selectedHolder {
  background-color: #0050c5;
}

.toc-todo .selectedHolder > a,
.toc-todo .selectedHolder > a:hover {
  color: #fff;
}

.toc-todo li a {
  color: black;
}

.toc-todo a:active,
.toc-todo a:hover {
  color: #0078d7;
}

.toc-todo > ul {
  display: block;
  margin-left: 0;
  padding-left: 0;
}

ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

/* docs css removes list padding. we want it back */
.ac-textBlock > ol,
.ac-textBlock > ul {
  padding-left: 40px;
}

@media print, screen and (min-width: 601px) {
	.blog .blog-post-wrapper {
		padding: 0 100px;
		background: white;
		margin-top: 32px
	}
}

@media print, screen and (max-width: 601px) {
	.blog .blog-post-wrapper {
		margin-top: 0px;
	}
}

.blog img {
  max-width: 95%;
  height: auto;
}

.blog .coverImage {
  height: 172px;
  border: solid 1px rgba(0, 0, 0, 0.15);
  background-position: 50% 50%;
  background-size: cover;
  background-color: #f0f0f0;
  display: block;
}

.blog h1,
.blog h2 {
  margin-top: 20px;
}

.blog .blog-content {
	font-size: 16px;
	line-height: 160%;
}

.blog .article-title:link,
.blog .article-title:visited {
  color: #000;
  font-size: 21px;
  display: block;
  font-weight: 600;
  margin: 12px 0;
  text-overflow: ellipsis;
}

.blog a:hover {
  text-decoration: none;
}

.blog .article-subtitle {
  color: rgba(0, 0, 0, 0.54);
  font-size: 17px;
  line-height: 22px;
  margin-top: 7px;
  display: block;
}

.blog a:hover {
  text-decoration: none;
}

.blog .article-author {
  display: block;
  font-size: 14px;
  margin-bottom: -2px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54) !important;
}

.blog .article-date {
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
}

.blog .reading-time {
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
}

.blog pre {
  background-color: #fafafa;
  padding: 0;
  margin: 12px -16px;
  border: none;
}

.blog pre > code {
  padding-left: 16px;
  font-size: 1.1em;
}

.hljs {
  background: #fafafa;
}

.homepage h1 {
  line-height: 48px;
  font-weight: 800;
}

.homepage h2 {
  font-size: 28px;
  font-weight: bolder;
  line-height: 36px;
}

.homepage h3 {
  font-size: 20px;
  font-weight: lighter;
  line-height: 30px;
}

.homepage h4 {
  font-size: 18px;
  line-height: 28px;
  font-weight: bolder;
  margin-bottom: 1px;
}

.homepage h5 {
  font-size: 16px;
  line-height: 24px;
  color: #555;
  margin-top: 2px;
}

.homepage h6,
.footer-holder h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  color: #696969;
}

.homepage .divider {
  border-bottom: solid 1px #ddd;
  margin-top: 64px;
  margin-bottom: 64px;
}

@media screen and (min-width: 601px) {
  .center-large {
    text-align: center;
  }
}

@media screen and (max-width: 601px) {
  .homepage .divider {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 859px) {
  .homepage .divider {
    margin-left: calc(-16px);
    margin-right: calc(-16px);
  }

  .homepage .section-video {
    min-width: 350px;
  }
}

@media print, screen and (min-width: 860px) {
  .homepage .divider {
    margin-left: calc(-24px);
    margin-right: calc(-24px);
  }

  .homepage .section-video video {
    min-width: 450px;
  }
}

@media print, screen and (min-width: 1084px) {
  .homepage .divider {
    margin-left: calc(-5vw);
    margin-right: calc(-5vw);
  }

  .homepage .section-video video {
    min-width: 550px;
  }
}

@media print, screen and (min-width: 1795px) {
  .uhf-container:not(.has-padding) {
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
    width: 1600px;
  }
}

.homepage .author {
  font-weight: bolder;
  margin-bottom: -3px;
  margin-top: 6px;
}

.homepage .title {
  color: #696969;
  margin-top: 0;
}

.homepage .mainSection {
  /*background-color: #0078D7;*/
}

.homepage .w3-modal {
  background-color: #2d2d2deb;
}

.homepage i.fab {
  width: 15px;
}

.homepage i.fas,
.homepage i.far {
  width: 20px;
}

.fa,
.fas {
  font-weight: 900 !important;
}

.fab {
  font-weight: normal !important;
}

.ac-blue {
  color: #fff !important;
  background-color: #0b78d0 !important;
}

.homepage a:link,
.homepage a:visited {
  color: #0b78d0;
  font-size: 15px;
  line-height: 29px;
  font-weight: 600;
}

.homepage a:hover {
  color: blue;
  text-decoration: none;
}

/* .fa-chevron-right {
  font-size: 11px;
  font-weight: lighter;
  font-family: "Font Awesome 5 Free";
} */

.footer-holder {
  background-color: #f2f2f2 !important;
}

.footer-holder h6 {
  color: #696969 !important;
}

.ac-footer {
  font-size: 0.9em;
}

.ac-footer .brand {
  font-weight: bold;
  color: #696969;
  white-space: nowrap;
}

.ac-footer a:link,
.ac-footer a:visited {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
}

.ac-footer a:hover {
  color: #6b6b6b;
  text-decoration: none;
}

.ac-footer .post-subtitle {
  margin-top: 0;
  color: #696969;
}

.ac-footer .build-date {
  color: #696969;
}

#uhf-footer {
  margin-top: 0; /* The UFH footer adds a bunch of margin we don't need */
  font-size: 1em;
}

input.bigbox {
  transform: scale(2.5);
  transform-origin: left;
}

table.bc-table {
  margin-bottom: 0;
}
.text-content table.bc-table {
  width: 100%;
  table-layout: fixed;
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #eaeef2;
  background-color: rgba(212, 221, 228, 0.5);
}
.text-content table.bc-table thead th {
  text-align: center;
}
.bc-table,
.bc-table tbody,
.bc-table td,
.bc-table th,
.bc-table thead,
.bc-table tr {
  box-sizing: border-box;
}
.bc-table tr {
  position: relative;
  border-bottom: 0 solid transparent;
}
.bc-table td,
.bc-table th {
  position: relative;
  padding: 5px 3px;
  border-color: #222;
  border-top: 1px solid #222;
  border-right: 0;
  border-bottom: 0 solid transparent;
  border-left: 1px solid #222;
  text-align: center;
}
.bc-table tbody th,
.bc-table thead td {
  overflow: hidden;
}
.bc-table-web tbody th,
.bc-table-web thead td {
  width: 200px;
}
.bc-table-web tbody td,
.bc-table-web thead th {
  width: 8.33333%;
}
.bc-table-js tbody th,
.bc-table-js thead td {
  width: 200px;
}
.bc-table-js tbody td,
.bc-table-js thead th {
  width: 7.69231%;
}
.bc-table-ext tbody th,
.bc-table-ext thead td {
  width: 300px;
}
.bc-table-ext tbody td,
.bc-table-ext thead th {
  width: 20%;
}
.bc-table tbody th + td,
.bc-table thead td + th {
  border-left: 0;
}
html[dir="rtl"] .bc-table tbody th + td,
html[dir="rtl"] .bc-table thead td + th {
  border-left: 1px solid;
}
.bc-table-ext td:nth-child(7),
.bc-table-ext th:nth-child(7),
.bc-table-js td:nth-child(14),
.bc-table-js td:nth-child(8),
.bc-table-js th:nth-child(14),
.bc-table-js th:nth-child(8),
.bc-table-web td:nth-child(8),
.bc-table-web th:nth-child(8) {
  border-left: 2px solid #222;
}
.text-content .bc-table th {
  background-color: transparent;
  overflow: hidden;
  padding: 5px 3px 5px 6px;
}
.bc-table .bc-platforms th {
  width: auto;
  padding: 5px 0 2px;
  border-top: 0;
  border-bottom: 2px solid #222;
  border-left: 2px solid #222;
  font-size: 28px;
  font-size: 1.55556rem;
}
.bc-table .bc-platforms td + th {
  border-left: 0;
}
.bc-table .bc-browsers th {
  border-top: 0;
  padding: 3px 0;
  height: 200px;
  vertical-align: bottom;
  font-size: 22px;
  font-size: 1.22222rem;
}
.bc-table tbody th {
  border-width: 2px;
  border-color: #222;
  border-style: none;
  border-top: 1px solid #222;
  text-align: left;
  vertical-align: top;
}
.bc-table tbody th {
  border-right: solid;
}
html[dir="rtl"] .bc-table tbody th {
  border-right: 0;
}
.bc-table tbody th {
  border-left: 0;
}
html[dir="rtl"] .bc-table tbody th {
  border-left: solid;
}
.bc-table thead td {
  border-width: 2px;
  border-color: #222;
  border-style: none;
  border-top: 0;
}
.bc-table thead td {
  border-right: solid;
}
html[dir="rtl"] .bc-table thead td {
  border-right: 0;
}
.bc-table thead td {
  border-left: 0;
}
html[dir="rtl"] .bc-table thead td {
  border-left: solid;
}
.bc-table td:focus {
  z-index: 1;
}
.bc-table td[tabindex] {
  cursor: pointer;
}
.bc-table tbody td[tabindex],
.no-js .bc-table tbody td {
  padding-top: 6px;
  padding-bottom: 12px;
}
.bc-table abbr {
  text-decoration: none;
}
@supports (display: grid) {
  @media all and (min-width: 47.9385em) and (max-width: 63.9375em) {
    .bc-table tr {
      display: grid;
    }
    .bc-table-web tr {
      grid-template-columns: repeat(12, 1fr);
    }
    .bc-table-js tr {
      grid-template-columns: repeat(13, 1fr);
    }
    .bc-table-ext tr {
      grid-template-columns: repeat(5, 1fr);
    }
    .text-content .bc-table td,
    .text-content .bc-table th {
      width: auto;
    }
    .bc-table thead td {
      display: none;
      z-index: 1;
    }
    th[class^="bc-platform"][colspan="2"] {
      grid-column-end: span 2;
    }
    th[class^="bc-platform"][colspan="3"] {
      grid-column-end: span 3;
    }
    th[class^="bc-platform"][colspan="4"] {
      grid-column-end: span 4;
    }
    th[class^="bc-platform"][colspan="5"] {
      grid-column-end: span 5;
    }
    th[class^="bc-platform"][colspan="6"] {
      grid-column-end: span 6;
    }
    th[class^="bc-platform"][colspan="7"] {
      grid-column-end: span 7;
    }
    .bc-table tbody th {
      grid-column-start: 1;
      grid-column-end: last-line;
      border-right: none;
    }
    .bc-history {
      padding-left: 0;
    }
  }
  @media all and (min-width: 47.9385em) and (max-width: 74.9375em) {
    .bc-browsers .bc-head-txt-label {
      position: relative;
      bottom: -150px;
    }
  }
  @media all and (min-width: 63.9385em) and (max-width: 74.9375em) {
    .wiki-left-present .bc-table tr {
      display: grid;
    }
    .wiki-left-present .bc-table-web tr {
      grid-template-columns: repeat(12, 1fr);
    }
    .wiki-left-present .bc-table-js tr {
      grid-template-columns: repeat(13, 1fr);
    }
    .wiki-left-present .bc-table-ext tr {
      grid-template-columns: repeat(5, 1fr);
    }
    .wiki-left-present .text-content .bc-table td,
    .wiki-left-present .text-content .bc-table th {
      width: auto;
    }
    .wiki-left-present .bc-table thead td {
      display: none;
      z-index: 1;
    }
    .wiki-left-present th[class^="bc-platform"][colspan="2"] {
      grid-column-end: span 2;
    }
    .wiki-left-present th[class^="bc-platform"][colspan="3"] {
      grid-column-end: span 3;
    }
    .wiki-left-present th[class^="bc-platform"][colspan="4"] {
      grid-column-end: span 4;
    }
    .wiki-left-present th[class^="bc-platform"][colspan="5"] {
      grid-column-end: span 5;
    }
    .wiki-left-present th[class^="bc-platform"][colspan="6"] {
      grid-column-end: span 6;
    }
    .wiki-left-present th[class^="bc-platform"][colspan="7"] {
      grid-column-end: span 7;
    }
    .wiki-left-present .bc-table tbody th {
      grid-column-start: 1;
      grid-column-end: last-line;
      border-right: none;
    }
    .wiki-left-present .bc-history {
      padding-left: 0;
    }
  }
}
@media all and (max-width: 47.9375em) {
  .bc-table thead {
    display: none;
  }
  .bc-table thead td {
    z-index: 2;
  }
  .text-content .bc-table tbody th {
    width: 100%;
    max-width: 100%;
    display: block;
    border-right: 0;
    border-bottom: 1px solid #222;
    padding-top: 20px;
    padding-bottom: 0;
  }
  .bc-table tbody td {
    position: relative;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    display: block;
    box-sizing: border-box;
    box-shadow: inset 220px 0 0 0 #eaeff2;
    border-top: 1px solid #222;
    border-left: 0;
    padding-left: 250px;
    padding-right: 10px;
    text-align: left;
  }
  .bc-table tbody td[tabindex] {
    padding-bottom: 20px;
  }
  .bc-table-ext td:nth-child(7),
  .bc-table-ext th:nth-child(7),
  .bc-table-js td:nth-child(14),
  .bc-table-js td:nth-child(8),
  .bc-table-js th:nth-child(14),
  .bc-table-js th:nth-child(8),
  .bc-table-web td:nth-child(8),
  .bc-table-web th:nth-child(8) {
    border-top: 2px solid #222;
    border-left: none;
  }
}
.bc-supports-no,
.bc-supports-partial,
.bc-supports-unknown,
.bc-supports-yes,
.bc-table .bc-history {
  color: #222;
}
.bc-supports-no a,
.bc-supports-partial a,
.bc-supports-unknown a,
.bc-supports-yes a {
  color: #222;
  text-decoration: underline;
}
.bc-supports-yes {
  background-color: #e4f8e1;
}
.bc-supports-partial {
  background: #fff3d4;
  background-image: linear-gradient(
    to bottom right,
    rgba(246, 183, 60, 0.3) 0,
    rgba(246, 183, 60, 0.3) 1px,
    transparent 1px,
    transparent 67px,
    rgba(246, 183, 60, 0.3) 67px,
    rgba(246, 183, 60, 0.3) 73px,
    transparent 73px,
    transparent 138px,
    rgba(246, 183, 60, 0.3) 138px,
    rgba(246, 183, 60, 0.3) 144px,
    transparent 144px
  );
  background-size: 100px 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.bc-supports-no {
  background-color: #f8e1e1;
  background-image: linear-gradient(
      to bottom right,
      rgba(230, 100, 101, 0.2) 0,
      rgba(230, 100, 101, 0.2) 1px,
      transparent 1px,
      transparent 67px,
      rgba(230, 100, 101, 0.2) 67px,
      rgba(230, 100, 101, 0.2) 73px,
      transparent 73px,
      transparent 138px,
      rgba(230, 100, 101, 0.2) 138px,
      rgba(230, 100, 101, 0.2) 144px,
      transparent 144px
    ),
    linear-gradient(
      to bottom left,
      rgba(230, 100, 101, 0.2) 0,
      rgba(230, 100, 101, 0.2) 1px,
      transparent 1px,
      transparent 67px,
      rgba(230, 100, 101, 0.2) 67px,
      rgba(230, 100, 101, 0.2) 73px,
      transparent 73px,
      transparent 138px,
      rgba(230, 100, 101, 0.2) 138px,
      rgba(230, 100, 101, 0.2) 144px,
      transparent 144px
    );
  background-size: 100px 100px, 100px 100px;
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat;
}
.bc-supports-unknown {
  background-color: #eee;
}
@media all and (max-width: 47.9375em) {
  td.bc-supports-partial {
    background-position: calc(50% + 110px) 50%;
  }
  td.bc-supports-no {
    background-position: calc(50% + 110px) 50%, calc(50% + 110px) 50%;
  }
}
.bc-history-link {
  background-color: transparent;
  border-radius: 0;
  border: none;
  box-shadow: none;
  color: #333;
  padding: 0;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 11;
  display: block;
  width: 100%;
  height: 11px;
  margin-top: -10px;
  clear: both;
  text-align: center;
  font-size: 12px;
  font-size: 0.66667rem;
  border-top: 1px solid rgba(34, 34, 34, 0.3);
}
.bc-history-link i {
  position: relative;
  top: -4px;
}
.active .bc-history-link {
  z-index: 21;
  transform: scaleY(-1);
}
.active .bc-history-link,
td[tabindex]:focus .bc-history-link,
td[tabindex]:hover .bc-history-link {
  background-color: #222;
  border-top: 1px solid #222;
}
.active.bc-supports-yes .ic-history:before,
td[tabindex].bc-supports-yes:focus .ic-history:before,
td[tabindex].bc-supports-yes:hover .ic-history:before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBzdHlsZT0iZmlsbDogI2U0ZjhlMTsiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjE2IiBoZWlnaHQ9IjI4IiB2aWV3Qm94PSIwIDAgMTYgMjgiPjxwYXRoIGQ9Ik0xNiAxMWEuOTkuOTkgMCAwIDEtLjI5Ny43MDNsLTcgN0M4LjUxNiAxOC44OSA4LjI2NSAxOSA4IDE5cy0uNTE2LS4xMDktLjcwMy0uMjk3bC03LTdBLjk5Ni45OTYgMCAwIDEgMCAxMWMwLS41NDcuNDUzLTEgMS0xaDE0Yy41NDcgMCAxIC40NTMgMSAxeiIvPjwvc3ZnPg==);
}
.active.bc-supports-no .ic-history:before,
td[tabindex].bc-supports-no:focus .ic-history:before,
td[tabindex].bc-supports-no:hover .ic-history:before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBzdHlsZT0iZmlsbDogI2Y4ZTFlMTsiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjE2IiBoZWlnaHQ9IjI4IiB2aWV3Qm94PSIwIDAgMTYgMjgiPjxwYXRoIGQ9Ik0xNiAxMWEuOTkuOTkgMCAwIDEtLjI5Ny43MDNsLTcgN0M4LjUxNiAxOC44OSA4LjI2NSAxOSA4IDE5cy0uNTE2LS4xMDktLjcwMy0uMjk3bC03LTdBLjk5Ni45OTYgMCAwIDEgMCAxMWMwLS41NDcuNDUzLTEgMS0xaDE0Yy41NDcgMCAxIC40NTMgMSAxeiIvPjwvc3ZnPg==);
}
.active.bc-supports-partial .ic-history:before,
td[tabindex].bc-supports-partial:focus .ic-history:before,
td[tabindex].bc-supports-partial:hover .ic-history:before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBzdHlsZT0iZmlsbDogI2ZmZjNkNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTYiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAxNiAyOCI+PHBhdGggZD0iTTE2IDExYS45OS45OSAwIDAgMS0uMjk3LjcwM2wtNyA3QzguNTE2IDE4Ljg5IDguMjY1IDE5IDggMTlzLS41MTYtLjEwOS0uNzAzLS4yOTdsLTctN0EuOTk2Ljk5NiAwIDAgMSAwIDExYzAtLjU0Ny40NTMtMSAxLTFoMTRjLjU0NyAwIDEgLjQ1MyAxIDF6Ii8+PC9zdmc+);
}
.active.bc-supports-unknown .ic-history:before,
td[tabindex].bc-supports-unknown:focus .ic-history:before,
td[tabindex].bc-supports-unknown:hover .ic-history:before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBzdHlsZT0iZmlsbDogI2VlZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTYiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAxNiAyOCI+PHBhdGggZD0iTTE2IDExYS45OS45OSAwIDAgMS0uMjk3LjcwM2wtNyA3QzguNTE2IDE4Ljg5IDguMjY1IDE5IDggMTlzLS41MTYtLjEwOS0uNzAzLS4yOTdsLTctN0EuOTk2Ljk5NiAwIDAgMSAwIDExYzAtLjU0Ny40NTMtMSAxLTFoMTRjLjU0NyAwIDEgLjQ1MyAxIDF6Ii8+PC9zdmc+);
}
@media all and (max-width: 47.9375em) {
  .bc-history-link {
    width: calc(100% - 219px);
    height: 20px;
    margin-top: -20px;
    font-size: 16px;
    font-size: 0.88889rem;
  }
  .bc-history-link i {
    top: 0;
    margin: 0;
  }
}
.bc-table .bc-history {
  position: absolute;
  top: 100%;
  z-index: 20;
  display: none;
  visibility: hidden;
  overflow: hidden;
  box-sizing: border-box;
  border-top: 1px solid #222;
  border-bottom: 2px solid #222;
  cursor: default;
  background-color: #eaeff2;
  background-image: none;
}
.bc-table-web .bc-history {
  padding-left: 320px;
}
.bc-table-js .bc-history {
  padding-left: 320px;
}
.bc-table-ext .bc-history {
  padding-left: 420px;
}
.active .bc-history {
  display: block;
  visibility: visible;
  height: 0;
}
.bc-history:before {
  content: "";
  display: block;
  height: 45px;
  width: 60px;
  float: right;
}
.bc-history-head {
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 19px;
  font-size: 1.05556rem;
  text-align: left;
}
.bc-history dl {
  text-align: left;
  margin: 20px;
}
.bc-history dt {
  float: left;
  clear: left;
  max-width: 120px;
  margin-left: -140px;
}
.bc-history dd,
.bc-history dt {
  margin-top: 30px;
}
.bc-history dd {
  min-height: 1.2em;
  margin-bottom: 0;
  padding-top: 4px;
  padding-left: 0;
  padding-bottom: 10px;
  font-weight: 400;
}
.bc-history dd + dd,
.bc-history dl > dt:first-child,
.bc-history dl > dt:first-child + dd {
  margin-top: 0;
}
.bc-history-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.bc-history-button svg {
  width: 12px;
  height: 18px;
}
.bc-supports {
  display: inline-block;
  position: relative;
  border: 1px solid #222;
  padding: 3px;
  min-width: 120px;
  text-align: center;
}
.bc-legend .bc-supports {
  display: inline-block;
  min-width: 30px;
}
@media all and (min-width: 47.9385em) and (max-width: 63.9375em) {
  .bc-table .bc-history {
    padding-left: 140px;
  }
}
@media all and (min-width: 63.9385em) and (max-width: 74.9375em) {
  .wiki-left-present .bc-table .bc-history {
    padding-left: 140px;
  }
}
@media all and (max-width: 47.9375em) {
  .bc-table .bc-history {
    padding-left: 0;
  }
  .bc-history dl {
    margin-left: 10px;
  }
  .bc-history dt {
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 10px;
  }
  .bc-history dd {
    clear: left;
    min-height: 0;
  }
}
.bc-footnotes dt {
  margin-top: 10px;
  font-weight: 700;
}
.bc-footnotes dl > dt:first-child {
  margin-top: 0;
}
.bc-footnotes dd {
  margin-left: 20px;
}
.bc-legend {
  margin-bottom: 20px;
  margin-top: 20px;
}
.bc-legend dl {
  display: grid;
  grid-template-columns: 30px 1fr;
}
.bc-legend dt {
  display: block;
  margin: 0 0 5px 0;
}
.bc-legend dd {
  display: block;
  margin: 0 10px 5px 10px;
}
@media all and (min-width: 47.9385em) {
  .bc-legend dl {
    grid-template-columns: 30px 1fr 30px 1fr;
  }
}
.bc-github-link {
  display: inline-block;
}
.bc-github-link {
  float: right;
}
html[dir="rtl"] .bc-github-link {
  float: left;
}