<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Documentation" stopProcessing="true">
          <match url="^documentation/(.*)$" />
          <action type="Redirect" redirectType="Permanent" url="https://docs.microsoft.com/adaptive-cards" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>