* {
    box-sizing: border-box;
}

html { 
    overflow: hidden;
}

body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: normal;
    display: block;
    padding: 0;
    margin: 0;
    height: 100vh;
}