.ac-image.ac-selectable {
    cursor: pointer;
}

.ac-container.ac-selectable {
    padding: 5px;
}

    .ac-container.ac-selectable:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .ac-container.ac-selectable:active {
        background-color: rgba(0, 0, 0, 0.15);
    }

.ac-pushButton {
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    padding: 4px 10px 5px 10px;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    background-color: #004980;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .ac-pushButton:hover {
        background-color: #004980;
    }

    .ac-pushButton:active {
        background-color: #004D84;
    }

.ac-linkButton {
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    border: 2px solid #5D60B3;
    padding: 4px 10px 5px 10px;
    color: #4B4C9A;
    background-color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .ac-linkButton:hover {
        background-color: #484B98;
        color: white;
    }

    .ac-linkButton:active {
        background-color: #454987;
        color: white;
    }

/*
    Other styles that can be specified:
        .ac-linkButton.ac-expanded
        .ac-linkButton.ac-expanded:hover
        .ac-linkButton.ac-expanded:active
    */
.ac-linkButton {
    text-align: center;
    vertical-align: middle;
}

.ac-input {
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    color: black;
}

    .ac-input.ac-textInput {
        height: 30px;
        resize: none;
    }

        .ac-input.ac-textInput.ac-multiline {
            height: 72px;
        }

    .ac-input.ac-textInput, .ac-input.ac-numberInput, .ac-input.ac-dateInput, .ac-input.ac-timeInput, .ac-input.ac-multichoiceInput {
        border: 1px solid #DDDDDD;
        padding: 4px 8px 4px 8px;
    }
