a.ac-anchor:hover {
  text-decoration: underline;
}
a.ac-anchor {
  text-decoration: none;
}
a.ac-anchor:link {
  color: inherit;
}
a.ac-anchor:visited {
  color: inherit;
  text-decoration: none;
}
.ac-textBlock p {
  margin-top: 1px !important;
}
.ac-adaptiveCard {
  background-color: inherit !important;
}
.ac-textBlock > p {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
}

.fedsearch-card {
  border: 2px solid #f1f0ef;
  border-top-color: #bfc6ceaf;
  border-bottom-color: #bfc6ceaf;
  border-radius: 4px;
}

.ac-container.ac-adaptiveCard {
  border: none !important;
}
.aaf-spinner {
  border-color: #6264a7;
}
.ac-pushButton {
  background-color: inherit !important;
  color: #6264a7;
  border: 0px;
  padding: 0px;
  cursor: pointer;
}
.ac-choiceSetInput-expanded div {
  margin-top: 6px;
}
.ac-pushButton.ac-pushButton.expanded:hover {
  background-color: inherit !important;
  border: 0px;
  color: #6264a7;
}

.ac-pushButton.ac-actionSet .ac-pushButton.style-default.expandable:after {
  content: "";
}
.aaf-progress-overlay {
  background-color: inherit;
}
.ac-input input:checked {
  appearance: none;
}
.ac-input input:checked::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 2px;
  position: relative;
  content: " ";
  display: inline-block;
  visibility: visible;
  border: 2px solid #6264a7;
  background: radial-gradient(+ #6264a7 #6264a7 + 40% transparent 50% transparent);
}
.ac-input:focus {
  border: 1px solid #6264a7;
  outline: none;
}
