<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>

    <h1>Consistent Cards</h1>
    <form action = "/" method=POST>
      <textarea placeholder="card data" name ="cardData"></textarea><br>
      <textarea placeholder="card template" name ="cardTemplate"></textarea><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
