<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <script>
      const errorList = <%-errorList %>;
      const warningList = <%-warningList %>;
      const imageList = <%-imageList %>;
      const platformNames = <%-platformNames %>;
      for(var i = 0; i < platformNames.length; i++){
          var newHTML = document.createElement ('div');
          newHTML.innerHTML   = '             \
                <div id= '+ platformNames[i] +' >             \
                    <img src = "data:image/png;base64,'+ imageList[i]+ '  "  <br>\
                    <p>The above is rendered on '+ platformNames[i]+' </p> \
                    <p> Warnings: '+warningList[i] +' </p>\
                    <p> Errors: '+ errorList[i] + '</p>\
                </div>                          \
            ';
          document.body.appendChild (newHTML);
      }
    </script>
  </body>
</html>
