.ac-image.ac-selectable {
  cursor: pointer;
}

.cortanaLogo {
  width: 50px;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.ac-container.ac-selectable {
  padding: 5px;
}

.ac-container.ac-selectable:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.ac-container.ac-selectable:active {
  background-color: rgba(0, 0, 0, 0.15);
}

.ac-pushButton, .ac-linkButton {
  font-family: "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 2px solid transparent;
  padding: 4px 10px 5px 10px;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  background-color: #464646;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ac-pushButton:hover, .ac-linkButton:hover {
  border: 2px solid #A9A9A9;
}

.ac-pushButton:active, .ac-linkButton:active {
  background-color: #828282;
}

.ac-input {
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  color: black;
}

.ac-input.ac-textInput {
  height: 30px;
  resize: none;
}

.ac-input.ac-textInput.ac-multiline {
  height: 72px;
}

.ac-input.ac-textInput, .ac-input.ac-numberInput, .ac-input.ac-dateInput, .ac-input.ac-timeInput, .ac-input.ac-multichoiceInput {
  border: 1px solid #DDDDDD;
  padding: 4px 8px 4px 8px;
}
