* {
    box-sizing: border-box;
}

.removeTopSpacing {
    margin-top: 0px !important;
}

.separator {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
}

.skypeContainer {
    display: flex;
    align-items: flex-start;
}

.rootContainer {
    width: 300px;
    border-radius: 5px;
    background: rgba(234, 234, 234, 0.68);
}

.showCardActionContainer {
    background: rgba(234, 234, 234, 0.68);    
    padding: 10px;
}

.stretch {
    width: 100%;
}

.smallSize {
    width: 100px;
}

.mediumSize {
    width: 200px;
}

.largeSize {
    width: 300px;
}

.text {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
}

.text.defaultSize {
    font-size: 14px;
}

.text.small {
    font-size: 12px;
}

.text.medium {
    font-size: 20px;
}

.text.large {
    font-size: 24px;
}

.text.extraLarge {
    font-size: 40px;
}

.text.lighter {
    font-weight: 200;
}

.text.defaultWeight {
    font-weight: 400;
}

.text.bolder {
    font-weight: 600;
}

.text.defaultColor {
    color: rgb(51, 51, 51);
}

.text.defaultColor.subtle {
    color: rgba(51, 51, 51, 0.5);
}

.text.darkColor {
    color: rgb(51, 51, 51);
}

.text.darkColor.subtle {
    color: rgba(51, 51, 51, 0.5);
}

.text.lightColor {
    color: rgb(255, 255, 255);
}

.text.lightColor.subtle {
    color: rgba(255, 255, 255, 0.5);
}

.text.accentColor {
    color: rgb(46, 137, 252);
}

.text.accentColor.subtle {
    color:  rgba(46, 137, 252, 0.5);
}

.text.goodColor {
    color: #2ccc35;
}

.text.warningColor {
    color: #f9a203;
}

.text.attentionColor {
    color: darkred;
}

.rootContainer {
    padding: 10px;
}

.container {
    margin: 20px 0px 0px 0px;
}

.container.selectable {
    padding: 5px;
}

.container.selectable:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.container.selectable:active {
    background-color: rgba(0, 0, 0, 0.15);
}

.container.startGroup {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding-top: 20px;
}

.image {
    margin: 0px 0px 0px 0px;
}

.image.selectable {
    cursor: pointer;
}

.image.autoSize {
    max-width: 100%;
}

.image.stretch {
    width: 100%;
}

.image.small {
    max-width: 40px;
}

.image.medium {
    max-width: 80px;
}

.image.large {
    max-width: 160px;
}

.image.person {
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

table.factGroup {
    margin: 20px 0px 0px 0px;
    border-width: 0px;
    border-spacing: 0px;
    border-style: none;
    border-collapse: collapse;
}

tr.factGroupRowSpacer {
    height: 10px;
}

td.factName {
    border-width: 0px;
    padding: 0px;
    border-style: none;
    min-width: 100px;
    vertical-align: top;
    white-space: nowrap;
}

td.factValue {
    border-width: 0px;
    padding: 0px;
    border-style: none;
    vertical-align: top;
    padding: 0px 0px 0px 10px
}

.imageGallery {
    margin: 20px 0px 0px 0px;
}

.actionGroup {
    margin: 20px 0px 0px 0px;
}

/*.columnGroup {
    margin: 15px 0px 5px 0px;
}*/

.column {
}

.column.selectable {
    padding: 5px;
}

.column.selectable:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.column.selectable:active {
    background-color: rgba(0, 0, 0, 0.15);
}

.defaultColumnSeparator {
    width: 10px;    
}

.strongColumnSeparator {
    border-left: 1px solid #EEEEEE;
    margin-left: 10px;
    padding-left: 10px;
}

.actionCardContainer {
    margin: 16px -20px 0px -20px;
    padding: 16px 20px 16px 20px;
    background-color: #F8F8F8;
}

.buttonStrip {
    display: flex;
    flex-direction: column;
}

.buttonStripItem {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    flex-wrap: wrap;
    margin: 5px;
}

.buttonStripItemSpacer {
}

.pushButton, .linkButton {
    font-family: 'Segoe UI', sans-serif;
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 6px 10px 5px 10px;
    text-align: center;
    vertical-align: middle;  
    cursor: default;
    background-color: white;
    border: solid 2px #dcdcdc;
    border-radius: 25px;
    color: #0078d7;
    height: 40px;
}

.pushButton:hover {
    background-color: #0078d7;
    color: #fff;
}

.pushButton:active {
    background-color: #0078d7;
    color: #fff;
}

.linkButton:hover {
    background-color: #0078d7;
    color: #fff;
}

.linkButton:active {
    background-color: #0078d7;
    color: #fff;
}

/*
Other styles that can be specified:
    .pushButton.expanded
    .pushButton.expanded:hover
    .pushButton.expanded:active

    .pushButton.subdued
    .pushButton.subdued:hover
    .pushButton.subdued:active
*/

/*
Other styles that can be specified:
    .linkButton.expanded
    .linkButton.expanded:hover
    .linkButton.expanded:active
*/

.input {
    margin: 10px 0px 0px 0px;
}

.input.textInput {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    border-color: #EAEAEA;
    border-width: 1px;
    border-style: solid;
    padding: 4px 8px 4px 8px;
    height: 30px;
    resize: none;
}

.input.textInput.multiline {
    height: 72px;
}

.input.number {
    font-family: 'Segoe UI', sans-serif;
    border-color: #EAEAEA;
    border-width: 1px;
    border-style: solid;
    padding: 4px 8px 5px 8px;
}

.input.date {
    font-family: 'Segoe UI', sans-serif;
    border-color: #EAEAEA;
    border-width: 1px;
    border-style: solid;
    padding: 4px 8px 5px 8px;
}

.input.time {
    font-family: 'Segoe UI', sans-serif;
    border-color: #EAEAEA;
    border-width: 1px;
    border-style: solid;
    padding: 4px 8px 5px 8px;
}

.input.multichoiceInput {
    font-family: 'Segoe UI', sans-serif;
    border-color: #EAEAEA;
    border-width: 1px;
    border-style: solid;
    padding: 4px 8px 6px 8px;
}

.toggleInput {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
}

.toggleLabel {
    margin: 0px 0px 0px 6px !important;
    padding: 0px !important;
    display: inline-block;
    vertical-align: middle;
}

/*Bot hexagon*/

.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    cursor: pointer;
    width: 50px;
    height: 40px;
    margin: 2px 5px -20px 0px;
}

.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
}

.hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../assets/bot-framework.png);
    background-size: 50px 50px;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
}
