.container.selectable {
  padding: 5px;
}

.container.selectable:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.container.selectable:active {
  background-color: rgba(0, 0, 0, 0.15);
}

.image.selectable {
  cursor: pointer;
}

.image.person {
  border-radius: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.factNameContainer {
  border-width: 0;
  padding: 0;
  border-style: none;
  min-width: 100px;
  vertical-align: top;
  white-space: nowrap;
}

.factValueContainer {
  border-width: 0;
  padding: 0;
  border-style: none;
  vertical-align: top;
  padding-left: 10px;
}

.pushButton {
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  padding: 4px 10px 5px 10px;
  min-width: 80px;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  background-color: #0078D7;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pushButton:hover {
  background-color: #005A9E;
}

.pushButton:active {
  background-color: #004D84;
}

.linkButton {
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
  border: 2px solid #5D60B3;
  padding: 4px 10px 5px 10px;
  color: #5D60B3;
  background-color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.linkButton:hover {
  background-color: #5D60B3;
  color: white;
}

.linkButton:active {
  background-color: #4F5399;
  color: white;
}

/*
    Other styles that can be specified:
        .linkButton.expanded
        .linkButton.expanded:hover
        .linkButton.expanded:active
    */
.linkButton {
  min-width: 80px;
  text-align: center;
  vertical-align: middle;
}

.input.textInput {
  font-size: 14px;
  height: 30px;
  resize: none;
}

.input.textInput.multiline {
  height: 72px;
}

.input.textInput, .input.number, .input.date, .input.time, .input.multichoiceInput {
  font-family: 'Segoe UI', sans-serif;
  border-color: #EAEAEA;
  border-width: 1px;
  border-style: solid;
  padding: 4px 8px 4px 8px;
}

.toggleInput {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.toggleLabel {
  margin: 0 0 0 6px !important;
  padding: 0 !important;
  display: inline-block;
  vertical-align: middle;
}
