.container.selectable {
  padding: 5px;
}

.container.selectable:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.container.selectable:active {
  background-color: rgba(0, 0, 0, 0.15);
}

.image.selectable {
  cursor: pointer;
}

.image.person {
  border-radius: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.factNameContainer {
  border-width: 0;
  padding: 0;
  border-style: none;
  min-width: 100px;
  vertical-align: top;
  white-space: nowrap;
}

.factValueContainer {
  border-width: 0;
  padding: 0;
  border-style: none;
  vertical-align: top;
  padding-left: 10px;
}

.pushButton, .linkButton {
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 2px solid transparent;
  padding: 4px 10px 5px 10px;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  background-color: #464646;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pushButton:hover, .linkButton:hover {
  border: 2px solid #A9A9A9;
}

.pushButton:active, .linkButton:active {
  background-color: #828282;
}

.input.textInput {
  font-size: 14px;
  height: 30px;
  resize: none;
}

.input.textInput.multiline {
  height: 72px;
}

.input.textInput, .input.number, .input.date, .input.time, .input.multichoiceInput {
  font-family: 'Segoe UI', sans-serif;
  border-color: #797979;
  border-width: 2px;
  border-style: solid;
  padding: 4px 8px 4px 8px;
}

.input.textInput:hover, .input.number:hover, .input.date:hover, .input.time:hover, .input.multichoiceInput:hover {
  border: 2px solid #A5A5A5;
  background-color: #0C0C0C;
}

.toggleInput {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.toggleLabel {
  margin: 0 0 0 6px !important;
  padding: 0 !important;
  display: inline-block;
  vertical-align: middle;
}

.toggleInputLabel {
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  margin-top: -3px;
  margin-left: 6px;
  display: inline-block;
  vertical-align: middle;
}
