.ac-image.ac-selectable {
  cursor: pointer;
}

.ac-container.ac-selectable {
  padding: 5px;
}

.ac-container.ac-selectable:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.ac-container.ac-selectable:active {
  background-color: rgba(0, 0, 0, 0.15);
}

.ac-pushButton, .ac-linkButton {
  font-family: "Segoe UI", sans-serif;
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 2px solid transparent;
  padding: 4px 10px 5px 10px;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ac-pushButton:hover, .ac-linkButton:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.ac-pushButton:active, .ac-linkButton:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.ac-input {
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  color: white;
}

.ac-input.ac-textInput {
  height: 30px;
  resize: none;
}

.ac-input.ac-textInput.ac-multiline {
  height: 72px;
}

.ac-input.ac-textInput, .ac-input.ac-numberInput, .ac-input.ac-dateInput, .ac-input.ac-timeInput, .ac-input.ac-multichoiceInput {
  border: 2px solid #797979;
  padding: 4px 8px 4px 8px;
  background-color: #0C0C0C;
}

.ac-input.ac-textInput:hover, .ac-input.ac-numberInput:hover, .ac-input.ac-dateInput:hover, .ac-input.ac-timeInput:hover, .ac-input.ac-multichoiceInput:hover {
  border: 2px solid #A5A5A5;
  background-color: #0C0C0C;
}
