@import 'node_modules/adaptive-cards/scss/base';

.cortanaLogo {
    width: 50px;
}

.title {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

@include base-container();

@include base-push-button(
    $background-color: #464646,
    $border: 2px solid transparent,
    $font-size: 15px,
    $font-weight: 500,
    $active-background-color: #828282,
    $hover-background-color: null,
    $hover-border: 2px solid #A9A9A9,
    $min-width: null
    );

.linkButton {
    @extend .pushButton;
}

@include base-input();
