@import 'node_modules/adaptive-cards/scss/base';

@include base-push-button(
    $background-color: rgba(0, 0, 0, 0.1),
    $border: 2px solid transparent,
    $font-size: 15px,
    $font-weight: 500,
    $active-background-color: rgba(0, 0, 0, 0.3),
    $hover-background-color: null,
    $hover-border:  2px solid rgba(0, 0, 0, 0.2),
    $min-width: null
    );

.linkButton {
    @extend .pushButton;
}


@include base-input();
