@import 'node_modules/adaptive-cards/scss/base';

@include base-container();

@include base-push-button();

@include base-link-button(
    $active-background-color: #4F5399,
    $active-color: white,
    $background-color: white,
    $border: 2px solid #5D60B3,
    $color: #5D60B3,
    $cursor: default,
    $hover-background-color: #5D60B3,
    $hover-color: white,
    $padding: 4px 10px 5px 10px,
    $subdued: false
    );

.ac-linkButton {
    text-align: center;
    vertical-align: middle;    
}

@include base-input();
