@import 'node_modules/adaptive-cards/scss/base';

@include base-container();

@include base-push-button(
    $font-size: 15px,
    $font-weight: 500, 
    $border: 2px solid transparent,
    $min-width: null,
    $background-color: rgba(255, 255, 255, 0.2),
    $hover-background-color: null,
    $hover-border: 2px solid rgba(255, 255, 255, 0.6),
    $active-background-color: rgba(255, 255, 255, 0.4)
    );

.ac-linkButton {
    @extend .ac-pushButton;
}

@include base-input(
    $color: white,
    $border: 2px solid #797979,
    $hover-border: 2px solid #A5A5A5,
    $background-color: #0C0C0C,
    $hover-background-color: #0C0C0C
    );