@import 'node_modules/adaptive-cards/scss/base';

@include base-container();

@include base-push-button(
    $font-size: 15px,
    $font-weight: 500, 
    $border: 2px solid transparent,
    $min-width: null,
    $background-color: #464646,
    $hover-background-color: null,
    $hover-border: 2px solid #A9A9A9,
    $active-background-color: #828282
    );

.ac-linkButton {
    @extend .ac-pushButton;
}

@include base-input(
    $border-color: #797979,
    $border-width: 2px,
    $hover-border: 2px solid #A5A5A5,
    $hover-background-color: #0C0C0C
    );

/*
.toggleInputLabel {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    margin-top: -3px;
    margin-left: 6px;

    display: inline-block;
    vertical-align: middle;
}
*/