@import 'node_modules/adaptive-cards/scss/base';

@include base-container();

@include base-push-button();

@include base-link-button();

@include base-input();

.webChatOuterContainer {
    background-color: #ECEFF1;
    border: 1px solid #E6E6E6;
    padding: 8px;
    width: 416px;
    border-radius: 4px;    
}

.webChatInnerContainer {
    border: 1px solid #D2DDE5;
}