

<div class="w3-row reverse-order-mobile">
    <div class="w3-container w3-col s12 m7 l8 code-snippet">
        <pre><code class='json'><%- getcontent(examplePath) %></code></pre>
    </div>   
   
    <div class="w3-container w3-col s12 m5 l4" >
        <div class="adaptivecard"><%- getcontent(examplePath) %></div>
        <%- trysamplelink(examplePath) %>
    </div>
</div>