
<div class="w3-cell-row">
    
    <div class="w3-container w3-cell w3-mobile code-snippet">
        <pre><code class='json'><%- getcontent(examplePath) %></code></pre>
    </div>

    <div class="w3-container w3-cell w3-mobile" style="width: 300px">
        <div class="adaptivecard"><%- getcontent(examplePath) %></div>
        <%- trysamplelink(examplePath) %>
    </div>

   
</div>