<div class="a2a_kit a2a_kit_size_32 a2a_default_style a2a_follow" data-a2a-icon-color="transparent,#3c3c3c">
	<a class="a2a_button_github" data-a2a-follow="<%- github_username %>"></a>

	<% if (typeof twitter !== 'undefined') { %>
		<a class="a2a_button_twitter" data-a2a-follow="<%- twitter %>"></a>
	<% } %>

</div>