<div class="w3-row-padding w3-margin-top">
	<div class="w3-col m1 w3-hide-small">&nbsp;</div>

	<div class="w3-col s12 m4 center-large">
		<%- partial("_partial/section-details-item", sections[0]) %>
	</div>

	<div class="w3-col m2 w3-hide-small">&nbsp;</div>

	<div class="w3-col s12 m4 center-large">
		<%- partial("_partial/section-details-item", sections[1]) %>
	</div>

	<div class="w3-col m1 w3-hide-small">&nbsp;</div>
</div>

<div class="w3-row-padding w3-margin-top">
	<div class="w3-col m1 w3-hide-small">&nbsp;</div>

	<div class="w3-col s12 m4 center-large">
		<%- partial("_partial/section-details-item", sections[2]) %>
	</div>

	<div class="w3-col m2 w3-hide-small">&nbsp;</div>

	<div class="w3-col s12 m4 center-large">
		<%- partial("_partial/section-details-item", sections[3]) %>
	</div>

	<div class="w3-col m1 w3-hide-small">&nbsp;</div>
</div>