* {
	box-sizing: border-box;
}

html {
	overflow: hidden !important;
}

body {
	font-family: 'Segoe UI', sans-serif;
	font-size: 14px;
	font-weight: normal;
	height: 100vh;
	margin: 0;
	padding: 0;
}

#designerRootHost {
	height: 100vh;
	width: 100%;
}

.home .card {
	background-color: #eceff1;
	border: 1px solid #e6e6e6;
	padding: 8px;
	border-radius: 4px;
	margin-bottom: 10px;
}

.acd-icon-save::before {
	content: "\E74E";
}

.acd-icon-save {
	font-size: 40px;
}

.dimmed {
	position: relative;
}

.dimmed:after {
	content: " ";
	z-index: 1;
	display: block;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.05);
	border-bottom: solid 5px #cccccc;
}