* {
    box-sizing: border-box;
}

html {
    overflow: hidden !important;
}

body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#designerRootHost {
	height: 80vh;
}

.card {
    background-color: #eceff1;
    border: 1px solid #e6e6e6;
    padding: 8px;
    border-radius: 4px;
}
