// Rename this to secrets.ts and provide your blob storage info 
// az storage account generate-sas --permissions racwdl --resource-types sco --services b --expiry 2020-04-29 --account-name <ACCOUNT_NAME> --account-key <ACCOUNT_KEY>

export const AZURE_STORAGE_ACCOUNT_NAME = "<ACCOUNT_NAME>";
export const AZURE_STORAGE_SAS = "<SAS>";