.ac-image.ac-selectable {
  cursor: pointer;
}

.ac-container.ac-selectable {
  padding: 5px;
}

.ac-container.ac-selectable:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.ac-container.ac-selectable:active {
  background-color: rgba(0, 0, 0, 0.15);
}

.ac-pushButton {
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  padding: 4px 10px 5px 10px;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  background-color: #0078D7;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ac-pushButton:hover {
  background-color: #005A9E;
}

.ac-pushButton:active {
  background-color: #004D84;
}

.ac-linkButton {
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  border: none;
  padding: 0;
  color: #0078D7;
  background-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ac-linkButton:hover {
  color: #005A9E;
}

.ac-linkButton:active {
  color: #004D84;
}

.ac-linkButton.ac-subdued {
  color: #666666;
  font-weight: 500;
}

.ac-linkButton.ac-subdued:hover {
  color: #005A9E;
}

.ac-linkButton.ac-subdued:active {
  color: #004D84;
}

/*
    Other styles that can be specified:
        .ac-linkButton.ac-expanded
        .ac-linkButton.ac-expanded:hover
        .ac-linkButton.ac-expanded:active
    */
.ac-input {
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  color: black;
}

.ac-input.ac-textInput {
  height: 30px;
  resize: none;
}

.ac-input.ac-textInput.ac-multiline {
  height: 72px;
}

.ac-input.ac-textInput, .ac-input.ac-numberInput, .ac-input.ac-dateInput, .ac-input.ac-timeInput, .ac-input.ac-multichoiceInput {
  border: 1px solid #DDDDDD;
  padding: 4px 8px 4px 8px;
}

.kikOuterContainer {
  border: 1px solid #DDDDDD;
}

