* {
    box-sizing: border-box;
}

.text {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.text.small {
    font-size: 12px;
}

.text.defaultSize {
    font-size: 14px;
}

.text.medium {
    font-size: 20px;
}

.text.large {
    font-size: 24px;
}

.text.extraLarge {
    font-size: 30px;
}

.text.lighter {
    font-weight: 200;
}

.text.defaultWeight {
    font-weight: 400;
}

.text.bolder {
    font-weight: 600;
}

.text.defaultColor.darkOnLight {
    color: rgb(51, 51, 51);
}

.text.defaultColor.darkOnLight.subtle {
    color: rgba(51, 51, 51, 0.5);
}

.text.defaultColor.lightOnDark {
    color: rgb(255, 255, 255);
}

.text.defaultColor.lightOnDark.subtle {
    color: rgba(255, 255, 255, 0.5);
}

.text.accentColor.darkOnLight {
    color:  rgb(46, 137, 252);
}

.text.accentColor.darkOnLight.subtle {
    color:  rgba(46, 137, 252, 0.5);
}

.text.accentColor.lightOnDark {
    color:  rgb(46, 137, 252);
}

.text.accentColor.lightOnDark.subtle {
    color:  rgba(46, 137, 252, 0.5);
}

.button {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: 500;
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.button.link {
    cursor: pointer;
}

.button.link.normal {
    color: #0078D7;
}

.button.link.selected {
    color: #0078D7;
}

.button.link.inactive {
    color: #666666;
}

.button.push {
    padding: 4px 10px 5px 10px;
    min-width: 80px; 
    height: 31px;
    text-align: center;
    vertical-align: middle;  
    cursor: default;
}

.button.push.prominent.normal {
    background-color: #0078D7;
    color: white;    
}

.button.push.prominent.selected {
    background-color: #005A9E;
    color: white;
}

.button.push.prominent.inactive {
    background-color: #EAEAEA;
    color: A6A6A6;
}

.button.push.subdued.normal {
    background-color: #EAEAEA;
    color: black;    
}

.button.push.subdued.selected {
    background-color: #CCCCCC;
    color: black;
}

.button.push.subdued.inactive {
    background-color: #EAEAEA;
    color: #A6A6A6;
}

textarea.textInput {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    border-color: #EAEAEA;
    border-width: 1px;
    border-style: solid;
    padding: 4px 8px 4px 8px;
    height: 72px;
    resize: none;
}

input.dateInput {
    font-family: 'Segoe UI', sans-serif;
    border-color: #EAEAEA;
    border-width: 1px;
    border-style: solid;
    padding: 4px 8px 5px 8px;
}

input.timeInput {
    font-family: 'Segoe UI', sans-serif;
    border-color: #EAEAEA;
    border-width: 1px;
    border-style: solid;
    padding: 4px 8px 5px 8px;
}

select.multichoiceInput {
    font-family: 'Segoe UI', sans-serif;
    border-color: #EAEAEA;
    border-width: 1px;
    border-style: solid;
    padding: 4px 8px 6px 8px;
}