body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.uiRoot {
    display: flex;
    flex-flow: column;
    height: inherit;
}

.uiHeader {
    flex: 0 0 auto;
    margin: 10px 10px 0px 10px;
}

.uiFooter {
    flex: 0 0 auto;
    margin: 0px 10px 10px 10px;
}

.cardEditor {
    display: flex;
    height: 100%;
    min-height: 0;
    margin: 10px;
}

div.markup {
    display: flex;
    flex-flow: column;
    flex: 1 1 50%;
    overflow: auto;
    margin-right: 10px;
}

div.markupFooter {
    flex: 0 0 50px;
    background-color: red;
}

div.markupRenderContainer {
    flex: 1 1 50%;
    overflow: auto;
    margin-left: 10px;
}

div.markupRender {
    margin-right: 20px;
    margin-bottom: 20px;
}

div.markup #editor {
    flex: 1 1 auto;
    box-sizing: border-box;
    resize: none;
    white-space: nowrap;
    overflow: auto;
    border: 1px solid #F1F1F1;
}

/*
button.myButton:focus {
    background-color: yellow;
    height: 32px;
}

.myButton:focus:hover {
    background-color: purple;
    height: 32px;
}
*/