* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.jsonEditorHost-title {
    background-color: #d8d8d8;
    border: solid 1px #cccccc;
    color: #000000;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 12px;
    padding-left: 12px;
    width: 100%;
}
