* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.toolbar-btn {
    align-items: center;
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    font-style: normal;
    font-weight: normal;
    justify-content: center;
    margin-right: 50px;
    padding-bottom: 11px;
    padding-left: 38px;
    padding-right: 14px;
    padding-top: 11px;
    position: relative;
    user-select: none;
}

.toolbar-btn:active {
    border: 1px solid black;
}

.toolbar-btn:hover {
    background-color: white;
}

.toolbar-btn__icon-copy::before,
.toolbar-btn__icon-fullscreen::before {
    left: 14px;
    position: absolute;
}

.toolbar-btn__icon-copy::before {
    content: url("/assets/icons/copy.png");
}

.toolbar-btn__icon-fullscreen::before {
    content: url("/assets/icons/fullscreen.png");
}
