.acd-icon-bolt::before {
    content: "\E945";
}

.acd-icon-addColumn::before {
    content: "\F1D6";
}

.acd-icon-remove::before {
    content: "\E711";
}

.acd-icon-drag::before {
    content: "\E7C2";
}

.acd-designersurface {
    outline: none;
}

.acd-designersurface.dragging {
    cursor: move;
}

.acd-designersurface.dragging > .acd-peer:hover {
    background-color: transparent;
    border-color: transparent;
}

.acd-peerButton {
    width: 20px;
    height: 20px;
    font-family: "FabricMDL2Icons";
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    color: red;
    background-color: white;
    cursor: default;
    user-select: none;
}

.acd-circularButton {
    border-radius: 50%;
}

.acd-peerButton:hover {
    background-color: red;
    color: white;
}

.acd-peerButton:active {
    background-color: firebrick;
    border: 1px solid firebrick;
    color: white;
}

.acd-palette-item {
    border: 1px solid #cccccc;
    padding: 8px;
    margin-bottom: 4px;
    background-color: white;
    cursor: default;
}

.acd-palette-item:hover {
    background-color: #eeeeee;
}

.acd-peer {
    border: 1px solid transparent;
}

.acd-peer:hover {
    border: 1px solid blue;
}

.acd-peer.selected {
    border: 1px solid red !important;
}

.acd-peer.dragover {
    border: 1px dashed green !important;
}

.acd-peer.dragover:hover {
    background-color: none;
}

.acd-peer.dragging {
}

.acd-peer.dragging:hover {
    border: 1px solid green;
}

.acd-separation {
    background-color: rgba(0, 0, 255, 0.2);
}

.acd-separation.selected {
    background-color: rgba(255, 0, 0, 0.2);
}


/*
* Header menu
*/
.header-menu {
    align-items: center;
    background-color: #d8d8d8;
    display: flex;
    height: 30px;
    justify-content: space-between;
    padding: 6px 12px;
}

.header-menu__title {
    color: #000000;
}

.header-menu__bullet {
    align-items: center;
    display: flex;
}

.header-menu__icon {
    background-image: url("/assets/icons/hide.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 20px;
    margin-right: 4px;
    width: 20px;
}

.header-menu__description {
    color: #4a4a4a;
}


/*
* Treeview Style
*/
.treeview {
    background-color: #f9f9f9;
    height: calc(100% - 30px);
    padding-bottom: 5px;
    padding-top: 30px;
}

.treeview__container {
    list-style: none;
    margin: 0;
    padding-left: 0;
    width: 100%;
}

.treeview__element {
    display: flex;
    align-items: center;
    width: 100%;
}

.treeview__element:not(:last-child) {
    margin-bottom: 5px;
}

.treeview__element.is-empty {
    margin-bottom: 0;
}

.treeview__element:hover {
    cursor: pointer;
}

.treeview__element.is-selected {
    background-color: #e7e7e7;
}

.treeview__icon {
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    height: 20px;
    margin-right: 8px;
    width: 20px;
}

.treeview__icon--arrow {
    background-image: url("/assets/arrow.png");
    margin-right: 0;
}

.treeview__icon--textblock {
    background-image: url("/assets/icons/textblock.png");
}

.treeview__icon--factset {
    background-image: url("/assets/icons/fact-set.png");
}

.treeview__icon--image {
    background-image: url("/assets/icons/image.png");
}

.treeview__icon--imageset {
    background-image: url("/assets/icons/image-set.png");
}

.treeview__icon--inputtext {
    background-image: url("/assets/icons/inputtext.png");
}

.treeview__icon--inputtoggle {
    background-image: url("/assets/icons/toggle.png");
}

.treeview__icon--inputnumber {
    background-image: url("/assets/icons/inputnumber.png");
}

.treeview__icon--inputdate {
    background-image: url("/assets/icons/icon-date.png");
}

.treeview__icon--inputtime {
    background-image: url("/assets/icons/time.png");
}

.treeview__icon--actionsubmit {
    background-image: url("/assets/icons/submit.png");
}

.treeview__icon--actionopenurl {
    background-image: url("/assets/icons/open-url.png");
}

.treeview__icon--container {
    background-image: url("/assets/icons/container.png");
}

.treeview__icon--column {
    background-image: url("/assets/icons/column.png");
}

.treeview__icon--columnset {
    background-image: url("/assets/icons/column-set.png");
}

.treeview__icon--actionshowcard {
    background-image: url("/assets/icons/showcard.png");
}

.treeview__icon--arrow.is-rotated {
    background-image: url("/assets/arrow-rotated.png");
}

.btn {
    background-color: transparent;
    border: none;
    padding: 0;
}

.is-folded {
    display: none;
}
