.acd-peer {
}

.acd-peer:hover {
    border: 1px solid blue;
}

.acd-peer.selected {
    border: 1px solid red;
}

.acd-badge {
    background-color: blue;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8px;
    padding: 1px 4px 2px 4px;
}

.acd-badge.selected {
    background-color: red;
    color: white;
}

.acd-separation {
    background-color: rgba(0, 0, 255, 0.1);
    border: 1px solid rgba(0, 0, 255, 0.1);
}

.acd-separation.selected {
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid rgba(255, 0, 0, 0.1);
}