.acd-designersurface.dragging {
    cursor: move;
}

.acd-palette-item {
    border: 1px solid red;
    padding: 8px;
    cursor: pointer;
}

.acd-peer {
}

.acd-peer:hover {
    border: 2px solid rgba(0, 0, 255, 0.1);
}

.acd-peer.selected {
    background-color: rgba(255, 0, 0, 0.05);
    border: 2px solid rgba(255, 0, 0, 1);
}

.acd-peer.dragover {
    border: 2px solid rgba(0, 255, 128, 0.2);
}

.acd-peer.dragging {
}

.acd-separation {
    background-color: rgba(0, 0, 255, 0.2);
}

.acd-separation.selected {
    background-color: rgba(255, 0, 0, 0.2);
}