<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <clear />
    <add key="AdaptiveCards-Dependencies" value="https://pkgs.dev.azure.com/shine-oss/AdaptiveCards/_packaging/AdaptiveCards-Dependencies/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
    <add key="AdaptiveCards-Dependencies" value="true" />
  </disabledPackageSources>
</configuration>
