.default-ac-image.default-ac-selectable {
    cursor: pointer;
}

.default-ac-media-poster {
}

.default-ac-media-poster.empty {
    height: 200px;
    background-color: #F2F2F2;
}

.default-ac-media-playButton {
    width: 56px;
    height: 56px;
    border: 1px solid #EEEEEE;
    border-radius: 28px;
    box-shadow: 0px 0px 10px #EEEEEE;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    cursor: pointer;
}

.default-ac-media-playButton-arrow {
    color: black;
}

.default-ac-media-playButton:hover {
    background-color: white;
}

a.default-ac-anchor {
    text-decoration: none;
}

a.default-ac-anchor:link {
    color: #005A9E;
}

a.default-ac-anchor:visited {
    color: #005A9E;
}

a.default-ac-anchor:link:active {
    color: #004D84;
}

a.default-ac-anchor:visited:active {
    color: #004D84;
}

.default-ac-container.default-ac-selectable,
.default-ac-columnSet.default-ac-selectable {
    padding: 0;
}

.default-ac-container.default-ac-selectable:hover,
.default-ac-columnSet.default-ac-selectable:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.default-ac-container.default-ac-selectable:active,
.default-ac-columnSet.default-ac-selectable:active {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

.default-ac-pushButton {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 10px 5px 10px;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    height: 31px;
    background-color: white;
    color: #0078D7;
    border: 1px solid #B2E0FF;
}

.default-ac-pushButton:hover {
    background-color: #0078D7;
    color: white;
    border: 1px solid #73C1FD;
}

.default-ac-pushButton:active {
    background-color: #464B93;
    color: white;
    border: 1px solid #464B93;
}

.default-ac-pushButton.subdued {
    color: #666666;
    border: 1px solid #EEEEEE;
}

.default-ac-pushButton.subdued:hover {
    background-color: #0078D7;
    color: white;
    border: 1px solid #0078D7;
}

.default-ac-pushButton.expanded {
    background-color: #0078D7;
    color: white;
    border: 1px solid #0078D7;
}

.default-ac-pushButton.expandable:after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: 'FabricMDL2Icons';
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    margin: auto 0px auto 6px;
    content: '\E70D';
}

.default-ac-pushButton.expandable.expanded:after {
    content: '\E70E';
}

.default-ac-input {
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    color: black;
}

.default-ac-input.default-ac-textInput {
    resize: none;
}

.default-ac-input.default-ac-textInput.default-ac-multiline {
    height: 72px;
}

.default-ac-input.default-ac-textInput,
.default-ac-input.default-ac-numberInput,
.default-ac-input.default-ac-dateInput,
.default-ac-input.default-ac-timeInput {
    height: 31px;
}

.default-ac-input.default-ac-textInput,
.default-ac-input.default-ac-numberInput,
.default-ac-input.default-ac-dateInput,
.default-ac-input.default-ac-timeInput,
.default-ac-input.default-ac-multichoiceInput {
    border: 1px solid #DDDDDD;
    padding: 4px 8px 4px 8px;
}

.default-ac-textBlock {
    cursor: default;
}

.default-ac-textBlock.default-ac-selectable:hover {
    color: #3A96DD !important;
    cursor: pointer;
}